{% extends "../partials/layout.njk" %}

{% set currentPage = 'Check your report' %}
{% set pageTitle = preSentenceType + " - " + currentPage %}

{% block content %}

  <main class="app-container govuk-body">
    <h1 class="govuk-heading-l">{{ currentPage }}</h1>

    {% from "components/task-list/macro.njk" import picTaskList %}

    {{ picTaskList({
      sections: [
        {
          items: [
          {
            text: 'Offender details',
            href: '/short-format/' + reportId + '/offender-details',
            state: 'saved'
          },
          {
            text: 'Sentencing court details',
            href: '/short-format/' + reportId + '/court-details',
            state: 'saved'
          },
          {
            text: 'Offence details',
            href: '/short-format/' + reportId + '/offence-details',
            state: 'saved'
          },
          {
            text: 'Offence analysis',
            href: '/short-format/' + reportId + '/offence-alaysis',
            state: 'saved'
          },
          {
            text: 'Offender assessment',
            href: '/short-format/' + reportId + '/offender-assessment'
          },
          {
            text: 'Risk assessment',
            href: '/short-format/' + reportId + '/risk-assessment'
          },
          {
            text: 'Proposal',
            href: '/short-format/' + reportId + '/proposal'
          },
          {
            text: 'Sources of information',
            href: '/short-format/' + reportId + '/sources-of-information'
          },
          {
            text: 'Sign your report',
            href: '/short-format/' + reportId + '/sign-report'
          }]
        }
      ]
    }) }}

    <a class="govuk-button govuk-!-margin-top-6" href="/short-format/{{ reportId }}/sign-report">Sign your report</a>
  </main>

{% endblock %}
