{% extends "../partials/layout.njk" %}

{% set pageTitle = preSentenceType + " - Home" %}

{% block content %}

  <main class="app-container govuk-body">
    <h1>{{ preSentenceType }}</h1>
    <p>Please check back later when there is content to view.</p>
  </main>

{% endblock %}
