{% extends "../partials/shortFormatPageLayout.njk" %}

{% set currentPage = 'Offender assessment' %}
{% set pageTitle = preSentenceType + " - " + currentPage %}
{% set assessmentFactors = data.assessmentFactors or "" %}

{% set pageWhatToInclude %}
  <p class="govuk-body">You should consider diversity issues for each factor in terms of the offender’s own experiences or protected characteristics.</p>
  <p class="govuk-body">Key aspects of the person’s circumstances should be detailed. Those which are linked to their offending behaviour should be highlighted.</p>
  <p class="govuk-body">Make sure that you select all of the factors that have impacted on offending, and that may impact on future risk of re offending.</p>
  <p class="govuk-body">Also, consider if there are factors that are not directly linked. These may cause difficulties for the offender and impact on their desistance from crime.</p>
  <p class="govuk-body">Include information on protective factors that may support desistance.</p>
  <p class="govuk-body">Provide an explanation of the offender's motivation and readiness to change.</p>
{% endset %}

{% set experienceOfTraumaWhatToInclude %}
  <p class="govuk-body">Trauma can affect an offender's ability to engage and make decisions.</p>
  <p class="govuk-body">Detail the offender's experience of trauma. How has it affected their offending?</p>
  <p class="govuk-body">Has it affected their engagement with rehabilitative interventions?</p>
{% endset %}

{% set caringResponsibilitiesWhatToInclude %}
  <p class="govuk-body">Detail the offender’s current and past caring responsibilities.</p>
  <p class="govuk-body">Take account of caring for both children and adults.</p>
  <p class="govuk-body">How have those responsibilities affected their offending?</p>
  <p class="govuk-body">Have they affected their engagement with rehabilitative interventions?</p>
  <p class="govuk-body">Remember that evidence shows that imprisonment of mothers has significant impacts on those that they care for.</p>
{% endset %}

{% block reportForm %}

  <h1 class="govuk-heading-l">{{ currentPage }}</h1>

  <form method="post" novalidate>

    {% from "govuk/components/details/macro.njk" import govukDetails %}
    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
    {% from "components/radio-buttons/macro.njk" import picRadioButtons %}
    {% from "components/rich-text-editor/macro.njk" import picRichTextEditor %}

    {% set accommodationOptionHtml %}
      {{ picRichTextEditor({
        name: "issueAccommodationDetails",
        id: "issueAccommodationDetails",
        label: {
          text: "Provide a brief assessment for accommodation"
        },
        value: data.issueAccommodationDetails
      }) }}
    {% endset %}

    {% set employmentOptionHtml %}
      {{ picRichTextEditor({
        name: "issueEmploymentDetails",
        id: "issueEmploymentDetails",
        label: {
          text: "Provide a brief assessment for employment"
        },
        value: data.issueEmploymentDetails
      }) }}
    {% endset %}

    {% set financeOptionHtml %}
      {{ picRichTextEditor({
        name: "issueFinanceDetails",
        id: "issueFinanceDetails",
        label: {
          text: "Provide a brief assessment for finance"
        },
        value: data.issueFinanceDetails
      }) }}
    {% endset %}

    {% set relationshipsOptionHtml %}
      {{ picRichTextEditor({
        name: "issueRelationshipsDetails",
        id: "issueRelationshipsDetails",
        label: {
          text: "Provide a brief assessment for relationships"
        },
        value: data.issueRelationshipsDetails
      }) }}
    {% endset %}

    {% set substanceMisuseOptionHtml %}
      {{ picRichTextEditor({
        name: "issueSubstanceMisuseDetails",
        id: "issueSubstanceMisuseDetails",
        label: {
          text: "Provide a brief assessment for substance misuse"
        },
        value: data.issueSubstanceMisuseDetails
      }) }}
    {% endset %}

    {% set healthOptionHtml %}
      {{ picRichTextEditor({
        name: "issueHealthDetails",
        id: "issueHealthDetails",
        label: {
          text: "Provide a brief assessment for physical & mental health"
        },
        value: data.issueHealthDetails
      }) }}
    {% endset %}

    {% set behaviourOptionHtml %}
      {{ picRichTextEditor({
        name: "issueBehaviourDetails",
        id: "issueBehaviourDetails",
        label: {
          text: "Provide a brief assessment for behaviour"
        },
        value: data.issueBehaviourDetails
      }) }}
    {% endset %}

    {% set otherOptionHtml %}
      {{ picRichTextEditor({
        name: "issueOtherDetails",
        id: "issueOtherDetails",
        label: {
          text: "Provide a brief assessment of other issues"
        },
        value: data.issueOtherDetails
      }) }}
    {% endset %}

    {% set experienceOfTraumaOptionHtml %}
      {{ picRichTextEditor({
        name: "experienceOfTraumaDetails",
        id: "experienceOfTraumaDetails",
        label: {
          text: "Experience of trauma"
        },
        value: data.experienceOfTraumaDetails,
        whatToInclude: experienceOfTraumaWhatToInclude
      }) }}
    {% endset %}

    {% set caringResponsibilitiesOptionHtml %}
      {{ picRichTextEditor({
        name: "caringResponsibilitiesDetails",
        id: "caringResponsibilitiesDetails",
        label: {
          text: "Caring responsibilities"
        },
        value: data.caringResponsibilitiesDetails,
        whatToInclude: caringResponsibilitiesWhatToInclude
      }) }}
    {% endset %}

    {{ govukDetails({
      summaryText: "What to include",
      text: pageWhatToInclude | safe,
      classes: "govuk-!-margin-bottom-2"
    }) }}

    {{ govukCheckboxes({
      idPrefix: "assessmentFactors",
      name: "assessmentFactors",
      fieldset: {
        legend: {
          text: "Select any factors relating to offending behaviour and the individual’s need, including any protective factors."
        }
      },
      items: [
        {
          value: "issueAccommodation",
          text: "Accommodation",
          checked: true if 'issueAccommodation' in assessmentFactors,
          conditional: {
            html: accommodationOptionHtml
          }
        },
        {
          value: "issueEmployment",
          text: "Employment, training and education",
          checked: true if 'issueEmployment' in assessmentFactors,
          conditional: {
            html: employmentOptionHtml
          }
        },
        {
          value: "issueFinance",
          text: "Finance",
          checked: true if 'issueFinance' in assessmentFactors,
          conditional: {
            html: financeOptionHtml
          }
        },
        {
          value: "issueRelationships",
          text: "Relationships",
          checked: true if 'issueRelationships' in assessmentFactors,
          conditional: {
            html: relationshipsOptionHtml
          }
        },
        {
          value: "issueSubstanceMisuse",
          text: "Substance misuse",
          checked: true if 'issueSubstanceMisuse' in assessmentFactors,
          conditional: {
            html: substanceMisuseOptionHtml
          }
        },
        {
          value: "issueHealth",
          text: "Physical & mental health",
          checked: true if 'issueHealth' in assessmentFactors,
          conditional: {
            html: healthOptionHtml
          }
        },
        {
          value: "issueBehaviour",
          text: "Thinking & behaviour",
          checked: true if 'issueBehaviour' in assessmentFactors,
          conditional: {
            html: behaviourOptionHtml
          }
        },
        {
          value: "issueOther",
          text: "Other (Please specify below)",
          checked: true if 'issueOther' in assessmentFactors,
          conditional: {
            html: otherOptionHtml
          }
        }
      ]
    }) }}

    {{ picRadioButtons({
      idPrefix: "experienceOfTrauma",
      name: "experienceOfTrauma",
      fieldset: {
        legend: {
          text: "Is there evidence of the offender experiencing trauma?"
        }
      },
      errorMessage: {
        text: "Select whether there is evidence of the offender experiencing trauma"
      } if 'experienceOfTrauma' in elementsWithError,
      items: [
        {
          value: "yes",
          text: "Yes",
          checked: data.experienceOfTrauma === 'yes',
          conditional: {
            html: experienceOfTraumaOptionHtml
          }
        },
        {
          value: "no",
          text: "No",
          checked: data.experienceOfTrauma === 'no'
        }
      ]
    }) }}

    {{ picRadioButtons({
      idPrefix: "caringResponsibilities",
      name: "caringResponsibilities",
      fieldset: {
        legend: {
          text: "Does the offender have caring responsibilities for children or adults, or have they ever had caring responsibilities for children or adults?"
        }
      },
      errorMessage: {
        text: "Select whether the offender has caring responsibilities for children or adults, or have they ever had caring responsibilities for children or adults"
      } if 'caringResponsibilities' in elementsWithError,
      items: [
        {
          value: "yes",
          text: "Yes",
          checked: data.caringResponsibilities === 'yes',
          conditional: {
            html: caringResponsibilitiesOptionHtml
          }
        },
        {
          value: "no",
          text: "No",
          checked: data.caringResponsibilities === 'no'
        }
      ]
    }) }}

    <button class="govuk-button govuk-!-margin-top-6">Continue</button>
  </form>

{% endblock %}
