{% extends "../partials/shortFormatPageLayout.njk" %}

{% set currentPage = 'Proposal' %}
{% set pageTitle = preSentenceType + " - " + currentPage %}

{% set proposalWhatToInclude %}
  <p class="govuk-body">Have you used the Effective Proposal Framework?</p>
  <p class="govuk-body">Be aware of the sentencing guidelines and relevant legislation. Remember to refer to the sentencing intentions of the court, if they were made clear.</p>
  <p class="govuk-body">Be clear how your proposal will manage risk.</p>
  <p class="govuk-body">Consider the impact of the sentence on the offender.</p>
  <p class="govuk-body">Consider how the proposed sentence will affect the offender’s family and anyone for whom they have caring responsibilities. Remember, evidence shows that imprisoning mothers significantly impacts on children in their care.</p>
  <p class="govuk-body">A persuasive proposal for sentence considers the relevance of other options. For example, when deciding between proposals for custody or a high end Community Order, explaining the reasons for the proposal adds to the confidence of sentencers.</p>
  <p class="govuk-body">When proposing a sentence for a high end Community Order, outlining why the proposal is being made - and explaining why a proposal for custody is not being made - makes the report more persuasive.</p>
  <p class="govuk-body">Likewise, when custody is not inevitable, being clear why custody is being proposed, and explaining why a Community Order is not manageable, assures the sentencer that options have been considered.</p>
  <p class="govuk-body">Consider what equality and diversity issues are present and how they can help inform your proposal. Do specific needs such as gender, diversity, maturity make particular sentences more appropriate? For women offenders, ensure that you consider women-specific disposals.</p>
  <p class="govuk-body">Are there any relevant alternative requirements that the offender is eligible for, but circumstances make them unsuitable?</p>
  <p class="govuk-body">Remember, your proposal should be commensurate with risk and need. Proposals should not be made for Suspended Sentence Orders, if an offender is manageable in the community, a Community Order should be proposed.</p>
{% endset %}

{% block reportForm %}

  <h1 class="govuk-heading-l">{{ currentPage }}</h1>

  <form method="post" novalidate>

    {% from "components/radio-buttons/macro.njk" import picRadioButtons %}
    {% from "components/rich-text-editor/macro.njk" import picRichTextEditor %}

    {{ picRadioButtons({
      classes: "govuk-radios--inline",
      idPrefix: "equalityAndDiversity",
      name: "equalityAndDiversity",
      fieldset: {
        legend: {
          text: "I confirm that equalities and diversity information has been considered as part of preparing the report and proposal"
        }
      },
      errorMessage: {
        text: "Confirm that equalities and diversity information has been considered as part of preparing the report and proposal"
      } if "equalityAndDiversity" in elementsWithError,
      items: [
        {
          value: "yes",
          text: "Yes",
          checked: data.equalityAndDiversity === "yes"
        },
        {
          value: "no",
          text: "No",
          checked: data.equalityAndDiversity === "no"
        }
      ]
    }) }}

    {{ picRichTextEditor({
      name: "proposal",
      id: "proposal",
      label: {
        text: "Enter a proposed sentence"
      },
      errorMessage: {
        text: "Enter a proposed sentence"
      } if "proposal" in elementsWithError,
      whatToInclude: proposalWhatToInclude,
      value: data.proposal
    }) }}

    <button class="govuk-button govuk-!-margin-top-6">Continue</button>
  </form>

{% endblock %}
