{% extends "../partials/shortFormatPageLayout.njk" %}

{% set currentPage = 'Risk assessment' %}
{% set pageTitle = preSentenceType + " - " + currentPage %}

{% set likelihoodOfReOffendingHelp %}
  <p class="govuk-body">This should include the use of both static tools (for example, OGRS,OVP, RM2000, RSR scores) and
    professional assessment.</p>
  <p class="govuk-body">The outcomes of static tools should be noted and professional assessment used. Make clear their
    relevance for this particular person.</p>
  <p class="govuk-body">Indicate which tools have been used.</p>
{% endset %}

{% set riskOfSeriousHarmHelp %}
  <p class="govuk-body">This is about the risk of serious harm occurring.</p>
  <p class="govuk-body">The nature and imminence of harm should be evidenced within this section and should be based on
    information already provided within the report.</p>
  <p class="govuk-body">Outline if you have made a referral to other agencies, or attempted contact, and not received a
    satisfactory response.</p>
  <p class="govuk-body">Any information from other agencies for the court must not place any identifiable groups at
    risk.</p>
  <p class="govuk-body">Consider the impact of this information on the overall assessment, including the impact on safer
    sentencing principles.</p>
  <p class="govuk-body">Any information you have from other agencies should state how they will assist in monitoring and
    managing risk, including partnership working.</p>
  <p class="govuk-body">Remember that you should also make clear any risk that the offender presents to themselves.</p>
  <p class="govuk-body">Identify who is at risk and be clear about what the risk is and how imminent that risk is.</p>
{% endset %}

{% set previousSupervisionResponseHelp %}
  <p class="govuk-body">Include their compliance with any youth offending supervision orders.</p>
  <p class="govuk-body">Remember to make clear in the text boxes previous periods of supervision and whether or not they were completed successfully.</p>
  <p class="govuk-body">Include information about the effectiveness of previous interventions, and make links to likely compliance with further interventions.</p>
  <p class="govuk-body">If you select not applicable, make clear in the text box whether or not the person has been involved with other agencies who have provided interventions, for example, substance misuse agencies.</p>
  <p class="govuk-body">Detail what level of compliance there was with these, and make links to likely compliance with future interventions.</p>
{% endset %}

{% block reportForm %}

  <h1 class="govuk-heading-l">{{ currentPage }}</h1>

  <form method="post" novalidate>

    {% from "govuk/components/input/macro.njk" import govukInput %}
    {% from "components/radio-buttons/macro.njk" import picRadioButtons %}
    {% from "components/rich-text-editor/macro.njk" import picRichTextEditor %}
    {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

    {{ picRichTextEditor({
      name: "likelihoodOfReOffending",
      id: "likelihoodOfReOffending",
      label: {
        text: "Likelihood of further offending"
      },
      whatToInclude: likelihoodOfReOffendingHelp,
      value: data.likelihoodOfReOffending,
      errorMessage: {
        text: "Enter the likelihood of further offending"
      } if "likelihoodOfReOffending" in elementsWithError
    }) }}

    {{ picRichTextEditor({
      name: "riskOfSeriousHarm",
      id: "riskOfSeriousHarm",
      label: {
        text: "Risk of serious harm"
      },
      whatToInclude: riskOfSeriousHarmHelp,
      value: data.riskOfSeriousHarm,
      errorMessage: {
        text: "Enter the risk of serious harm"
      } if "riskOfSeriousHarm" in elementsWithError
    }) }}

    {{ picRadioButtons({
      idPrefix: "responseToPreviousSupervision",
      name: "responseToPreviousSupervision",
      fieldset: {
        legend: {
          text: "Response to previous supervision"
        }
      },
      whatToInclude: previousSupervisionResponseHelp,
      errorMessage: {
        text: "Specify the Response to previous supervision"
      } if "responseToPreviousSupervision" in elementsWithError,
      items: [
        {
          value: "Good",
          text: "Good",
          checked: data.responseToPreviousSupervision === "Good"
        },
        {
          value: "Satisfactory",
          text: "Satisfactory",
          checked: data.responseToPreviousSupervision === "Satisfactory"
        },
        {
          value: "Poor",
          text: "Poor",
          checked: data.responseToPreviousSupervision === "Poor"
        },
        {
          value: "N/A",
          text: "Not applicable",
          checked: data.responseToPreviousSupervision === "N/A"
        }
      ]
    }) }}

    {{ picRichTextEditor({
      name: "responseToPreviousSupervisionDetails",
      id: "responseToPreviousSupervisionDetails",
      label: {
        text: "Details on the response to previous supervision (if applicable)"
      },
      value: data.responseToPreviousSupervisionDetails
    }) }}

    <button class="govuk-button govuk-!-margin-top-6">Continue</button>
  </form>

{% endblock %}
