{% extends "../partials/shortFormatPageLayout.njk" %}

{% set currentPage = 'Sources of information' %}
{% set pageTitle = preSentenceType + " - " + currentPage %}
{% set sourcesOfInformation = data.sourcesOfInformation or '' %}

{% block reportForm %}

  <h1 class="govuk-heading-l">{{ currentPage }}</h1>

  <form method="post" novalidate>
    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
    {% from "components/rich-text-editor/macro.njk" import picRichTextEditor %}

    {% set otherOptionHtml %}
      {{ picRichTextEditor({
        name: "otherSourceOfInformation",
        id: "otherSourceOfInformation",
        label: {
          text: "Other source(s) of information"
        },
        value: data.otherSourceOfInformation
      }) }}
    {% endset %}

    {{ govukCheckboxes({
      idPrefix: "sourcesOfInformation",
      name: "sourcesOfInformation",
      fieldset: {
        legend: {
          text: "Select the relevant options"
        }
      },
      errorMessage: {
        text: "Select the relevant options"
      } if "sourcesOfInformation" in elementsWithError,
      items: [
        {
          value: "interviewInformationSource",
          text: "Interview",
          checked: true if 'interviewInformationSource' in sourcesOfInformation
        },
        {
          value: "serviceRecordsInformationSource",
          text: "Service records",
          checked: true if 'serviceRecordsInformationSource' in sourcesOfInformation
        },
        {
          value: "cpsSummaryInformationSource",
          text: "CPS summary",
          checked: true if 'cpsSummaryInformationSource' in sourcesOfInformation
        },
        {
          value: "oasysAssessmentsInformationSource",
          text: "Previous OASys assessments",
          checked: true if 'oasysAssessmentsInformationSource' in sourcesOfInformation
        },
        {
          value: "previousConvictionsInformationSource",
          text: "Previous convictions",
          checked: true if 'previousConvictionsInformationSource' in sourcesOfInformation
        },
        {
          value: "victimStatementInformationSource",
          text: "Victim statement",
          checked: true if 'victimStatementInformationSource' in sourcesOfInformation
        },
        {
          value: "childrenServicesInformationSource",
          text: "Safeguarding checks",
          checked: true if 'childrenServicesInformationSource' in sourcesOfInformation
        },
        {
          value: "policeInformationSource",
          text: "Police information",
          checked: true if 'policeInformationSource' in sourcesOfInformation
        },
        {
          value: "sentencingGuidelinesInformationSource",
          text: "Sentencing guidelines",
          checked: true if 'sentencingGuidelinesInformationSource' in sourcesOfInformation
        },
        {
          value: "domesticAbuseInformationSource",
          text: "Domestic abuse call out information",
          checked: true if 'domesticAbuseInformationSource' in sourcesOfInformation
        },
        {
          value: "equalityInformationFormInformationSource",
          text: "Equalities Information",
          checked: true if 'equalityInformationFormInformationSource' in sourcesOfInformation
        },
        {
          value: "otherInformationSource",
          text: "Other (please specify below)",
          checked: true if 'otherInformationSource' in sourcesOfInformation,
          conditional: {
            html: otherOptionHtml
          }
        }
      ]
    }) }}

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <button class="govuk-button govuk-!-margin-top-6">Save and continue</button>
  </form>

{% endblock %}
