<div class="psr-autosave-status" data-module="psr-autosave-status">
  <p class="govuk-body" data-qa="autosave-status">This page was last saved at <span data-autosave-time>{{ data.lastUpdatedBy | formatTime }}</span></p>

  <div class="psr-connection-banner psr-connection-banner--error" data-connection-error tabindex="-1" role="alert" hidden>
    <p class="govuk-body govuk-!-margin-bottom-0"><strong>There is a problem with the connection.</strong> Your changes will be saved when it is restored.</p>
  </div>

  <div class="psr-connection-banner psr-connection-banner--success" data-connection-restored role="status" hidden>
    <p class="govuk-body govuk-!-margin-bottom-0"><strong>The connection has been restored.</strong></p>
  </div>
</div>
