<section id="qa-key-details">
  <h2 class="govuk-caption-l govuk-!-margin-bottom-0">CRN: {{ data.crn }}</h2>
  <h1 class="govuk-heading-m">{{ data.name }}</h1>
  <hr class="govuk-section-break govuk-!-margin-0 govuk-section-break--visible">
</section>
