{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block head %}
  <!--[if !IE 8]><!-->
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
  <!--<![endif]-->

  <!--[if lt IE 9]>
  <link href="/assets/stylesheets/application-ie8.css?{{ version }}" rel="stylesheet"/>
  <script src="/assets/js/html5shiv-3.7.3.min.js"></script>
  <![endif]-->

  <script src="/assets/js/jquery.min.js"></script>
  <script type="module" src="/assets/js/application.js"></script>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
          integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
          crossorigin="anonymous"></script>
  <link href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" crossorigin/>

  <script nonce="{{ nonce }}">
    // CommonJS polyfill for browser
    if (typeof exports === 'undefined') {
      var exports = {};
      var module = { exports: exports };
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/zustand@4.5.4/vanilla.js" nonce="{{ nonce }}" crossorigin></script>
  <script src="https://cdn.jsdelivr.net/npm/encrypt-storage@2.12.16/dist/index.min.js" nonce="{{ nonce }}" crossorigin></script>
  <script src="/assets/js/report-store.js"></script>

{% endblock %}

{% block pageTitle %}{{ pageTitle | default(applicationName) }}{% endblock %}

{% block header %}
  {% include "./header.njk" %}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="https://www.smartsurvey.co.uk/t/PSRContinuousFeedback/" target="_blank" rel="noopener noreferrer" title="Feedback: opens in a new window">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}


{% block bodyStart %}
  <script nonce="{{ nonce }}">document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
  {% if not hideTimeoutWarning %}
  <div class="govuk-modal-dialogue-inert-container">
    <div class="govuk-timeout-warning-fallback govuk-body">
      For your security, we will sign you out after {{ sessionTimeout.durationText }} of inactivity.
    </div>
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  {% if not hideTimeoutWarning %}
  </div>
  <div class="govuk-timeout-warning"
       data-module="govuk-timeout-warning"
       data-minutes-idle-timeout="{{ sessionTimeout.idleMinutes }}"
       data-minutes-modal-visible="{{ sessionTimeout.warningMinutes }}"
       data-url-redirect="/timed-out"
       data-url-extend="/extend-session"
       data-timer-text="For your security, we will sign you out in">
    <div class="govuk-modal-dialogue govuk-timeout-warning__dialog" data-inert-container=".govuk-modal-dialogue-inert-container">
      <div class="govuk-modal-dialogue__wrapper">
        <dialog class="govuk-modal-dialogue__box" aria-labelledby="timeout-warning-title" aria-modal="true" tabindex="-1">
          <div class="govuk-modal-dialogue__content">
            <h2 class="govuk-modal-dialogue__heading govuk-heading-l" id="timeout-warning-title">You are about to be signed out</h2>
            <div class="govuk-modal-dialogue__description govuk-body">
              <div class="govuk-timeout-warning__timer" aria-hidden="true"></div>
              <div class="govuk-timeout-warning__at-timer govuk-visually-hidden" role="status" id="at-timer"></div>
            </div>
            <button type="button" class="govuk-button" data-element="govuk-modal-dialogue-close" data-qa="stay-signed-in">Stay signed in</button>
          </div>
        </dialog>
      </div>
      <div class="govuk-modal-dialogue__backdrop"></div>
    </div>
  </div>
  {% endif %}
  {# Run JavaScript at end of the
  <body>, to avoid blocking the initial render. #}
  {% block additionalScripts %}

  {% endblock %}

{% endblock %}
