{% extends "./sharedPageLayout.njk" %}

{% block sideNavigation %}

  {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

  {{ mojSideNavigation({
    label: 'Side navigation',
    classes: 'govuk-!-padding-top-0',
    sections: [{
      items: [
        {
          text: 'Defendant details',
          href: '/psr/' + reportId + '/defendant-details',
          active: currentPage === 'Defendant details'
        },
        {
          text: 'Offence analysis',
          href: '/psr/' + reportId + '/offence-analysis',
          active: currentPage === 'Offence analysis'
        },
        {
          text: 'Risk Analysis',
          href: '/psr/' + reportId + '/risk-analysis',
          active: currentPage === 'Risk Analysis'
        },
        {
          text: 'Defendant behaviour and lifestyle assessment',
          href: '/psr/' + reportId + '/defendant-behaviour',
          active: currentPage === 'Defendant behaviour and lifestyle assessment'
        },
        {
          text: 'Sentencing proposal',
          href: '/psr/' + reportId + '/sentencing-proposal',
          active: currentPage === 'Sentencing proposal'
        },
        {
          text: 'Preview report',
          href: '/psr/' + reportId + '/preview-report',
          active: currentPage === 'Preview report'
        }
      ]
    }]
  }) }}

{% endblock %}
