{% extends "../partials/layout.njk" %}

{% set currentPage = 'Report completed' if data.reportCompleted else 'Draft report saved' %}
{% set pageTitle = preSentenceType + " - " + currentPage %}

{% block content %}

  <main class="app-container govuk-body">
    {% from "govuk/components/panel/macro.njk" import govukPanel %}

    {{ govukPanel({
      titleText: currentPage,
      html: "Your report has been saved<br>and uploaded successfully to Delius"
    }) }}

    <h2 class="govuk-heading-l govuk-!-margin-top-8">What to do next</h2>

    {% if data.reportCompleted %}
      <p class="govuk-body">You cannot edit or change this report</p>

      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="/{{ reportId }}/pdf" target="_blank">View a read-only PDF of this report to download or print</a>
      </p>
    {% else %}
      <p class="govuk-body">Review and print your '{{ preSentenceType }}'<br>
        <a class="govuk-link govuk-link--no-visited-state" href="/{{ reportId }}/pdf" target="_blank">View your draft PDF report</a>
      </p>

      <p class="govuk-body">Check or edit your report again<br>
        <a class="govuk-link govuk-link--no-visited-state" href="/{{ reportPath }}/{{ reportId }}/check-report">Select a section to update or change</a>
      </p>
    {% endif %}

  </main>

{% endblock %}
