$govuk-global-styles: true
$path: "/assets/images/"
$moj-page-width: 1170px
$govuk-page-width: $moj-page-width

@import '../../node_modules/govuk-frontend/dist/govuk/index'
@import '../../node_modules/@ministryofjustice/frontend/moj/all'
@import '../../node_modules/nhsuk-frontend/packages/nhsuk'

@import "./vendor/ckeditor5"
@import './components/header-bar'
@import './components/notification_banner'
@import './components/rich-text'
@import './local'
