$path: "/assets/images/"
$moj-page-width: 1170px

@use "node_modules/govuk-frontend/dist/govuk" with (
  $govuk-global-styles: true,
  $govuk-page-width: $moj-page-width
)

.address-row 
  display: flex
  align-items: flex-start

.address-lines > p
  margin: 0
  margin-left: 4px

h1
    font-size: 20px !important

h2
    font-size: 16px !important

h3
    font-size: 14px !important

.govuk-body-s
    font-size: 12px !important

.pdf-header
  display: flex
  align-items: center
  justify-content: space-between

.pdf-header-logo
  height: 90px
  width: auto
  object-fit: contain

.pdf-secondary-text 
  color: #484949

.keep-newlines
  white-space: pre-line

.border-box
  border: 3px solid black
  border-radius: 0
  padding: 8px
  margin-bottom: 20px

.border-box > p
  line-height: 0.75

.govuk-table--no-borders
  .govuk-table__cell,
  .govuk-table__header
    border-bottom: none;

.govuk-table--small-headers
  .govuk-table__header
    font-size: 16px

