$path: "/assets/images/"
$moj-page-width: 1170px

@use "node_modules/govuk-frontend/dist/govuk" with (
  $govuk-global-styles: true,
  $govuk-page-width: $moj-page-width
)

.address-row 
  display: flex
  align-items: flex-start

.address-lines > p
  margin: 0
  margin-left: 4px

h1
    font-size: 20px !important

h2
    font-size: 16px !important
    margin-bottom: 20px !important

h3
    font-size: 14px !important

.table-header
  font-size: 14px !important
  padding-top: 0 !important

.govuk-body-s
    font-size: 12px !important

.pdf-secondary-text 
  color: #484949

.keep-newlines
  white-space: pre-line

.border-box
  border: 1px solid black
  border-radius: 0
  padding: 8px
  margin-bottom: 20px

.govuk-table--no-borders
  .govuk-table__cell,
  .govuk-table__header
    border-bottom: none

.risk-row
  display: flex
  gap: 12px

.risk-row > div
  flex: 1