{% extends "../partials/layout.njk" %}

{% set currentPage = "Check your report" %}
{% set pageTitle = preSentenceType + " - " + currentPage %}

{# Set total required and populated counts, used to determine if the report can be signed and submitted #}
{% set totalRequiredCount = 0 %}
{% set totalPopulatedCount = 0 %}

{# Setup all report sections #}
{% set offenderDetails = data.sections.offenderDetails %}
{% set offenderDetailsRequiredCount = 0 %}
{% set offenderDetailsPopulatedCount = 0 %}
{% set offenderDetailsStatus = "Not started" %}

{% set courtDetails = data.sections.courtDetails %}
{% set courtDetailsRequiredCount = 0 %}
{% set courtDetailsPopulatedCount = 0 %}
{% set courtDetailsStatus = "Not started" %}

{% set offenceDetails = data.sections.offenceDetails %}
{% set offenceDetailsRequiredCount = 0 %}
{% set offenceDetailsPopulatedCount = 0 %}
{% set offenceDetailsStatus = "Not started" %}

{% set offenceAnalysis = data.sections.offenceAnalysis %}
{% set offenceAnalysisRequiredCount = 0 %}
{% set offenceAnalysisPopulatedCount = 0 %}
{% set offenceAnalysisStatus = "Not started" %}

{% set offenderAssessment = data.sections.offenderAssessment %}
{% set offenderAssessmentRequiredCount = 0 %}
{% set offenderAssessmentPopulatedCount = 0 %}
{% set offenderAssessmentStatus = "Not started" %}

{% set riskAssessment = data.sections.riskAssessment %}
{% set riskAssessmentRequiredCount = 0 %}
{% set riskAssessmentPopulatedCount = 0 %}
{% set riskAssessmentStatus = "Not started" %}

{% set proposal = data.sections.proposal %}
{% set proposalRequiredCount = 0 %}
{% set proposalPopulatedCount = 0 %}
{% set proposalStatus = "Not started" %}

{% set sourcesOfInformation = data.sections.sourcesOfInformation %}
{% set sourcesOfInformationRequiredCount = 0 %}
{% set sourcesOfInformationPopulatedCount = 0 %}
{% set sourcesOfInformationStatus = "Not started" %}

{% set signReport = data.sections.signReport %}
{% set signReportRequiredCount = 0 %}
{% set signReportPopulatedCount = 0 %}
{% set signReportStatus = "Cannot start yet" %}

{# Create a new Array with with all fields and include the value #}
{% set fields = [] %}
{% for field in data.reportDefinition.fields %}
  {% set populated = null %}
  {% for fieldValue in data.fieldValues %}
    {% if field.id === fieldValue.fieldId %}
      {% set populated = {
        id: field.id,
        type: field.type,
        name: field.name,
        required: field.required,
        validation: field.validation,
        value: fieldValue.value
      } %}
    {% endif %}
  {% endfor %}
  {{ fields.push(populated if populated else field) }}
{% endfor %}

{# Run through all report fields and check the completion status of each report section #}
{% for field in fields %}

  {% for item in offenderDetails %}
    {% if field.name === item %}
      {% if field.required %}
        {% set offenderDetailsRequiredCount = offenderDetailsRequiredCount + 1 %}
        {% set totalRequiredCount = totalRequiredCount + 1 %}
        {% if field.value %}
          {% set offenderDetailsPopulatedCount = offenderDetailsPopulatedCount + 1 %}
          {% set totalPopulatedCount = totalPopulatedCount + 1 %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% for item in courtDetails %}
    {% if field.name === item %}
      {% if field.required %}
        {% set courtDetailsRequiredCount = courtDetailsRequiredCount + 1 %}
        {% set totalRequiredCount = totalRequiredCount + 1 %}
        {% if field.value %}
          {% set courtDetailsPopulatedCount = courtDetailsPopulatedCount + 1 %}
          {% set totalPopulatedCount = totalPopulatedCount + 1 %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% for item in offenceDetails %}
    {% if field.name === item %}
      {% if field.required %}
        {% set offenceDetailsRequiredCount = offenceDetailsRequiredCount + 1 %}
        {% set totalRequiredCount = totalRequiredCount + 1 %}
        {% if field.value %}
          {% set offenceDetailsPopulatedCount = offenceDetailsPopulatedCount + 1 %}
          {% set totalPopulatedCount = totalPopulatedCount + 1 %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% for item in offenceAnalysis %}
    {% if field.name === item %}
      {% if field.required %}
        {% set offenceAnalysisRequiredCount = offenceAnalysisRequiredCount + 1 %}
        {% set totalRequiredCount = totalRequiredCount + 1 %}
        {% if field.value %}
          {% set offenceAnalysisPopulatedCount = offenceAnalysisPopulatedCount + 1 %}
          {% set totalPopulatedCount = totalPopulatedCount + 1 %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% for item in offenderAssessment %}
    {% if field.name === item %}
      {% if field.required %}
        {% set offenderAssessmentRequiredCount = offenderAssessmentRequiredCount + 1 %}
        {% set totalRequiredCount = totalRequiredCount + 1 %}
        {% if field.value %}
          {% set offenderAssessmentPopulatedCount = offenderAssessmentPopulatedCount + 1 %}
          {% set totalPopulatedCount = totalPopulatedCount + 1 %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% for item in riskAssessment %}
    {% if field.name === item %}
      {% if field.required %}
        {% set riskAssessmentRequiredCount = riskAssessmentRequiredCount + 1 %}
        {% set totalRequiredCount = totalRequiredCount + 1 %}
        {% if field.value %}
          {% set riskAssessmentPopulatedCount = riskAssessmentPopulatedCount + 1 %}
          {% set totalPopulatedCount = totalPopulatedCount + 1 %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% for item in proposal %}
    {% if field.name === item %}
      {% if field.required %}
        {% set proposalRequiredCount = proposalRequiredCount + 1 %}
        {% set totalRequiredCount = totalRequiredCount + 1 %}
        {% if field.value %}
          {% set proposalPopulatedCount = proposalPopulatedCount + 1 %}
          {% set totalPopulatedCount = totalPopulatedCount + 1 %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% for item in sourcesOfInformation %}
    {% if field.name === item %}
      {% if field.required %}
        {% set sourcesOfInformationRequiredCount = sourcesOfInformationRequiredCount + 1 %}
        {% set totalRequiredCount = totalRequiredCount + 1 %}
        {% if field.value %}
          {% set sourcesOfInformationPopulatedCount = sourcesOfInformationPopulatedCount + 1 %}
          {% set totalPopulatedCount = totalPopulatedCount + 1 %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {# Totals are not used here as they determine if we can sign the report #}
  {% for item in signReport %}
    {% if field.name === item %}
      {% if field.required %}
        {% set signReportRequiredCount = signReportRequiredCount + 1 %}
        {% if field.value %}
          {% set signReportPopulatedCount = signReportPopulatedCount + 1 %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}

{% endfor %}

{# If num required equals num populated then the section is determined as completed (saved) #}
{% if offenderDetailsRequiredCount === offenderDetailsPopulatedCount %}
  {% set offenderDetailsStatus = "Saved" %}
{% endif %}

{% if courtDetailsRequiredCount === courtDetailsPopulatedCount %}
  {% set courtDetailsStatus = "Saved" %}
{% endif %}

{% if offenceDetailsRequiredCount === offenceDetailsPopulatedCount %}
  {% set offenceDetailsStatus = "Saved" %}
{% endif %}

{% if offenceAnalysisRequiredCount === offenceAnalysisPopulatedCount %}
  {% set offenceAnalysisStatus = "Saved" %}
{% endif %}

{% if offenderAssessmentRequiredCount === offenderAssessmentPopulatedCount %}
  {% set offenderAssessmentStatus = "Saved" %}
{% endif %}

{% if riskAssessmentRequiredCount === riskAssessmentPopulatedCount %}
  {% set riskAssessmentStatus = "Saved" %}
{% endif %}

{% if proposalRequiredCount === proposalPopulatedCount %}
  {% set proposalStatus = "Saved" %}
{% endif %}

{% if sourcesOfInformationRequiredCount === sourcesOfInformationPopulatedCount %}
  {% set sourcesOfInformationStatus = "Saved" %}
{% endif %}

{# Check if the report has been / can be signed #}
{% if signReportRequiredCount === signReportPopulatedCount %}
  {% set signReportStatus = "Saved" %}
{% elseif totalRequiredCount === totalPopulatedCount %}
  {% set signReportStatus = "Not started" %}
{% endif %}

{% block content %}

  <main class="app-container govuk-body">
    <h1 class="govuk-heading-l">{{ currentPage }}</h1>

    {% from "components/task-list/macro.njk" import picTaskList %}

    {{ picTaskList({
      sections: [
        {
          items: [
          {
            text: "Offender details",
            href: "/record-of-oral/" + reportId + "/offender-details",
            state: offenderDetailsStatus
          },
          {
            text: "Sentencing court details",
            href: "/record-of-oral/" + reportId + "/court-details",
            state: courtDetailsStatus
          },
          {
            text: "Offence details",
            href: "/record-of-oral/" + reportId + "/offence-details",
            state: offenceDetailsStatus
          },
          {
            text: "Offence analysis",
            href: "/record-of-oral/" + reportId + "/offence-analysis",
            state: offenceAnalysisStatus
          },
          {
            text: "Offender assessment",
            href: "/record-of-oral/" + reportId + "/offender-assessment",
            state: offenderAssessmentStatus
          },
          {
            text: "Risk assessment",
            href: "/record-of-oral/" + reportId + "/risk-assessment",
            state: riskAssessmentStatus
          },
          {
            text: "Proposal",
            href: "/record-of-oral/" + reportId + "/proposal",
            state: proposalStatus
          },
          {
            text: "Sources of information",
            href: "/record-of-oral/" + reportId + "/sources-of-information",
            state: sourcesOfInformationStatus
          },
          {
            text: "Sign your report",
            href: "/record-of-oral/" + reportId + "/sign-report" if signReportStatus !== "Cannot start yet" else null,
            state: signReportStatus
          }]
        }
      ]
    }) }}
  </main>

{% endblock %}
