{% extends "../partials/layout.njk" %}

{% set currentPage = 'Check your report' %}
{% set pageTitle = preSentenceType + " - " + currentPage %}

{% block content %}

  <main class="app-container govuk-body">
    <h1 class="govuk-heading-l">{{ currentPage }}</h1>

    {% from "components/task-list/macro.njk" import picTaskList %}

    {{ picTaskList({
      sections: [
        {
          items: [
          {
            text: 'Offender details',
            href: '/record-of-oral/offender-details',
            state: 'saved'
          },
          {
            text: 'Sentencing court details',
            href: '/record-of-oral/court-details',
            state: 'saved'
          },
          {
            text: 'Offence details',
            href: '/record-of-oral/offence-details',
            state: 'saved'
          },
          {
            text: 'Offence analysis',
            href: '/record-of-oral/offence-alaysis',
            state: 'saved'
          },
          {
            text: 'Offender assessment',
            href: '/record-of-oral/offender-assessment'
          },
          {
            text: 'Risk assessment',
            href: '/record-of-oral/risk-assessment'
          },
          {
            text: 'Proposal',
            href: '/record-of-oral/proposal'
          },
          {
            text: 'Sources of information',
            href: '/record-of-oral/sources-of-information'
          },
          {
            text: 'Sign your report',
            href: '/record-of-oral/sign-report'
          }]
        }
      ]
    }) }}

    <a class="govuk-button govuk-!-margin-top-6" href="/record-of-oral/sign-report">Sign your report</a>
  </main>

{% endblock %}
