{% extends "../partials/oralPageLayout.njk" %}

{% set currentPage = 'Offender assessment' %}
{% set pageTitle = preSentenceType + " - " + currentPage %}
{% set factors = data.factors or [] %}

{% set pageWhatToInclude %}
  <p class="govuk-body">You should:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>select all factors that impact offending and may impact on any future risk of reoffending</li>
    <li>include information on protective factors that may support desistance</li>
    <li>provide an explanation of the offender's motivation and readiness to change</li>
    <li>use bullet points to outline key information</li>
  </ul>

  <p class="govuk-body">You should also consider:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>diversity issues in terms of the offender’s own experiences or protected characteristics</li>
    <li>the person’s circumstances, particularly those linked to offending behaviour</li>
    <li>factors which may not be directly linked but cause difficulties for the person and impact on their desistance
      from crime
  </ul>
{% endset %}

{% block reportForm %}

  <h1 class="govuk-heading-l">{{ currentPage }}</h1>

  <form method="post" novalidate>

    {% from "govuk/components/details/macro.njk" import govukDetails %}
    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
    {% from "govuk/components/radios/macro.njk" import govukRadios %}
    {% from "components/rich-text-editor/macro.njk" import picRichTextEditor %}

    {{ govukDetails({
      summaryText: "What to include",
      text: pageWhatToInclude | safe,
      classes: "govuk-!-margin-bottom-2"
    }) }}

    {{ govukCheckboxes({
      idPrefix: "factors",
      name: "factors",
      fieldset: {
        legend: {
          text: "Select any factors relating to offending behaviour and the individual’s need, including any protective factors."
        }
      },
      items: [
        {
          value: "issueAccommodation",
          text: "Accommodation",
          checked: true if 'issueAccommodation' in factors
        },
        {
          value: "issueEmployment",
          text: "Employment, training and education",
          checked: true if 'issueEmployment' in factors
        },
        {
          value: "issueFinance",
          text: "Finance",
          checked: true if 'issueFinance' in factors
        },
        {
          value: "issueRelationships",
          text: "Relationships",
          checked: true if 'issueRelationships' in factors
        },
        {
          value: "issueSubstanceMisuse",
          text: "Substance misuse",
          checked: true if 'issueSubstanceMisuse' in factors
        },
        {
          value: "issueHealth",
          text: "Physical & mental health",
          checked: true if 'issueHealth' in factors
        },
        {
          value: "issueBehaviour",
          text: "Thinking & behaviour",
          checked: true if 'issueBehaviour' in factors
        },
        {
          value: "issueMaturity",
          text: "Maturity",
          checked: true if 'issueMaturity' in factors
        },
        {
          value: "issueOther",
          text: "Other",
          checked: true if 'issueOther' in factors
        }
      ]
    }) }}

    {{ govukRadios({
      classes: "govuk-radios--inline",
      idPrefix: "experienceTrauma",
      name: "experienceTrauma",
      fieldset: {
        legend: {
          text: "Is there evidence of the offender experiencing trauma?"
        }
      },
      errorMessage: {
        text: "Select whether there is evidence of the offender experiencing trauma"
      } if 'experienceTrauma' in elementsWithError,
      items: [
        {
          value: "yes",
          text: "Yes",
          checked: data.experienceTrauma === 'yes'
        },
        {
          value: "no",
          text: "No",
          checked: data.experienceTrauma === 'no'
        }
      ]
    }) }}

    {{ govukRadios({
      classes: "govuk-radios--inline",
      idPrefix: "caringResponsibilities",
      name: "caringResponsibilities",
      fieldset: {
        legend: {
          text: "Does the offender have caring responsibilities for children or adults, or have they ever had caring responsibilities for children or adults?"
        }
      },
      errorMessage: {
        text: "Select whether the offender has caring responsibilities for children or adults, or have they ever had caring responsibilities for children or adults"
      } if 'caringResponsibilities' in elementsWithError,
      items: [
        {
          value: "yes",
          text: "Yes",
          checked: data.caringResponsibilities === 'yes'
        },
        {
          value: "no",
          text: "No",
          checked: data.caringResponsibilities === 'no'
        }
      ]
    }) }}

    {{ picRichTextEditor({
      name: "offenderAssessmentEvidence",
      id: "offenderAssessmentEvidence",
      label: {
        text: "Evidence for assessment"
      },
      errorMessage: {
        text: "Enter the evidence for assessment"
      } if 'offenderAssessmentEvidence' in elementsWithError,
      value: data.offenderAssessmentEvidence
    }) }}

    <button class="govuk-button govuk-!-margin-top-6">Continue</button>
  </form>

{% endblock %}
