{% extends "../partials/oralPageLayout.njk" %}

{% set currentPage = 'Offender details' %}
{% set pageTitle = preSentenceType + " - " + currentPage %}

{% block reportForm %}

  <h1 class="govuk-heading-l">{{ currentPage }}</h1>

  <form method="post" novalidate>

    <h2 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Name</h2>
    <p class="govuk-body">{{ data.name }}</p>
    <input type="hidden" name="name" id="name" value="{{ data.name }}">

    <h2 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Date of birth</h2>
    <p class="govuk-body">{{ data.dateOfBirth }}</p>
    <input type="hidden" name="dateOfBirth" id="dateOfBirth" value="{{ data.dateOfBirth }}">

    <h2 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Age</h2>
    <p class="govuk-body">{{ data.age }}</p>
    <input type="hidden" name="age" id="age" value="{{ data.age }}">

    <h2 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Delius CRN</h2>
    <p class="govuk-body">{{ data.crn }}</p>
    <input type="hidden" name="crn" id="crn" value="{{ data.crn }}">

    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
    {{ govukTextarea({
      name: "address",
      id: "address",
      label: {
        text: "Address"
      },
      value: data.address
    }) }}

    {% if data.pnc | length %}
      <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">PNC ID</p>
      <p class="govuk-body">{{ data.pnc }}</p>
      <input type="hidden" name="pnc" id="pnc" value="{{ data.pnc }}">
    {% else %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "PNC ID"
        },
        id: "pnc",
        name: "pnc",
        classes: "govuk-!-width-one-half"
      }) }}
    {% endif %}

    <input type="hidden" name="CSRFToken" value="{{ csrfToken }}">

    <button class="govuk-button govuk-!-margin-top-6">Save and continue</button>
  </form>

{% endblock %}
