{% extends "../partials/oralPageLayout.njk" %}

{% set currentPage = 'Offence details' %}
{% set pageTitle = preSentenceType + " - " + currentPage %}

{% block reportForm %}

  <h1 class="govuk-heading-l">{{ currentPage }}</h1>

  <form method="post" novalidate>

    {% from "components/rich-text-editor/macro.njk" import picRichTextEditor %}

    {{ picRichTextEditor({
      name: "mainOffence",
      id: "mainOffence",
      label: {
        text: "Main offence and date"
      },
      value: data.mainOffence,
      errorMessage: {
        text: "Enter the main offence and date"
      } if 'mainOffence' in elementsWithError
    }) }}

    {{ picRichTextEditor({
      name: "otherOffences",
      id: "otherOffences",
      label: {
        text: "Other offence(s) and dates (if applicable)"
      },
      value: data.otherOffences
    }) }}

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <button class="govuk-button govuk-!-margin-top-6">Save and continue</button>
  </form>

{% endblock %}
