{% extends "../partials/oralPageLayout.njk" %}

{% set currentPage = 'Proposal' %}
{% set pageTitle = preSentenceType + " - " + currentPage %}

{% set proposalWhatToInclude %}
  <p class="govuk-body">Your proposal should:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>use the Effective Proposal Framework</li>
    <li>be in line with sentence guidelines and relevant legislation, including any sentencing intentions from the court</li>
    <li>be clear on how risk will be managed</li>
    <li>be proportionate to the risk and need of the person</li>
    <li>consider the relevance and reasons for proposing one type of sentence over another (e.g explaining why a Community Order is appropriate and a custodial sentence is not being proposed)</li>
    <li>consider any alternative requirements the person may have been eligible for but circumstances make them unsuitable</li>
  </ul>

  <p class="govuk-body">You should also consider:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the impact of the sentence on the person</li>
    <li>the impact on the person’s family and anyone they have caring responsibilities for</li>
    <li>any equality and diversity issues present (gender, maturity etc)</li>
  </ul>
{% endset %}

{% block reportForm %}

  <h1 class="govuk-heading-l">{{ currentPage }}</h1>

  <form method="post" novalidate>

    {% from "components/radio-buttons/macro.njk" import picRadioButtons %}
    {% from "components/rich-text-editor/macro.njk" import picRichTextEditor %}

    {{ picRadioButtons({
      classes: "govuk-radios--inline",
      idPrefix: "confirmEIF",
      name: "confirmEIF",
      fieldset: {
        legend: {
          text: "I confirm that equalities and diversity information has been considered as part of preparing the report and proposal"
        }
      },
      errorMessage: {
        text: "Confirm that equalities and diversity information has been considered as part of preparing the report and proposal"
      } if "confirmEIF" in elementsWithError,
      items: [
        {
          value: "yes",
          text: "Yes",
          checked: data.confirmEIF === "yes"
        },
        {
          value: "no",
          text: "No",
          checked: data.confirmEIF === "no"
        }
      ]
    }) }}

    {{ picRichTextEditor({
      name: "proposal",
      id: "proposal",
      label: {
        text: "Enter a proposed sentence (including length and any sentence components)"
      },
      errorMessage: {
        text: "Enter a proposed sentence (including length and any sentence components)"
      } if "proposal" in elementsWithError,
      whatToInclude: proposalWhatToInclude,
      value: data.proposal
    }) }}

    <button class="govuk-button govuk-!-margin-top-6">Continue</button>
  </form>

{% endblock %}
