{% extends "../partials/oralPageLayout.njk" %}

{% set currentPage = 'Risk assessment' %}
{% set pageTitle = preSentenceType + " - " + currentPage %}

{% set pageWhatToInclude %}
  <p class="govuk-body">You should include the scores of any static assessments are supported in the scoring section e.g. OGRS, OVP, RM2000, RSR scores.</p>
  <p class="govuk-body">Your assessment should include any evidence of the risk of reoffending. If your assessment differs from static scores, there should be a brief account.</p>
{% endset %}

{% set roshEvidenceHint %}
  <p class="govuk-body">You should provide evidence on the nature and imminence of harm.</p>
  <p class="govuk-body">You should include if you have made a referral to other agencies or attempted contact and not
    received a satisfactory response.</p>
{% endset %}

{% block reportForm %}

  <h1 class="govuk-heading-l">{{ currentPage }}</h1>

  <h2 class="govuk-caption-xl">Likelihood of further general offending</h2>
  <p class="govuk-body">You can include up to 4 static assessment tool scores.</p>

  {% from "govuk/components/details/macro.njk" import govukDetails %}

  {{ govukDetails({
    summaryText: "What to include",
    text: pageWhatToInclude | safe
  }) }}

  <h2 class="govuk-heading-m">Static Assessment Scores</h2>

  <form method="post" novalidate>

    {% from "govuk/components/input/macro.njk" import govukInput %}
    {% from "components/radio-buttons/macro.njk" import picRadioButtons %}
    {% from "components/rich-text-editor/macro.njk" import picRichTextEditor %}
    {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

    {% set numberOfRiskTools = 4 %}
    {% for i in range(1, numberOfRiskTools + 1) %}
      {{ govukInput({
        label: {
          text: "Tool name"
        },
        errorMessage: {
          text: "Enter the tool name"
        } if "assessmentTool" + i in elementsWithError,
        id: "assessmentTool" + i,
        name: "assessmentTool" + i,
        value: data["assessmentTool" + i]
      }) }}

      {{ picRadioButtons({
        idPrefix: "assessmentLevel" + i,
        name: "assessmentLevel" + i,
        fieldset: {
          legend: {
            text: "Level"
          }
        },
        errorMessage: {
          text: "Specify the level"
        } if "assessmentLevel" + i in elementsWithError,
        items: [
          {
            value: "High",
            text: "High",
            checked: data["assessmentLevel" + i] === "High"
          },
          {
            value: "Medium",
            text: "Medium",
            checked: data["assessmentLevel" + i] === "Medium"
          },
          {
            value: "Low",
            text: "Low",
            checked: data["assessmentLevel" + i] === "Low"
          },
          {
            value: "N/A",
            text: "N/A",
            checked: data["assessmentLevel" + i] === "N/A"
          }
        ]
      }) }}
    {% endfor %}

    {{ picRichTextEditor({
      name: "yourAssessment",
      id: "yourAssessment",
      label: {
        text: "Your assessment"
      },
      value: data.yourAssessment,
      errorMessage: {
        text: "Enter your assessment"
      } if "yourAssessment" in elementsWithError
    }) }}

    <h2 class="govuk-heading-m">Risk of serious harm</h2>

    {{ govukWarningText({
      text: "Very high risk is not included as an option. If the person is assessed as having a very high risk of serious harm, an oral report is not the appropriate means for assessment.",
      iconFallbackText: "Warning"
    }) }}

    {{ picRadioButtons({
      idPrefix: "riskOfSeriousHarm",
      name: "riskOfSeriousHarm",
      fieldset: {
        legend: {
          text: "Level"
        }
      },
      errorMessage: {
        text: "Specify the risk of serious harm level"
      } if "riskOfSeriousHarm" in elementsWithError,
      items: [
        {
          value: "High",
          text: "High",
          checked: data.riskOfSeriousHarm === "High"
        },
        {
          value: "Medium",
          text: "Medium",
          checked: data.riskOfSeriousHarm === "Medium"
        },
        {
          value: "Low",
          text: "Low",
          checked: data.riskOfSeriousHarm === "Low"
        }
      ]
    }) }}

    {{ picRichTextEditor({
      name: "evidenceForRiskLevel",
      id: "evidenceForRiskLevel",
      label: {
        text: "Evidence for risk level"
      },
      hint: {
        text: "Only for medium or high risk of serious harm"
      },
      errorMessage: {
        text: "Enter the evidence for risk level"
      } if "evidenceForRiskLevel" in elementsWithError,
      whatToInclude: roshEvidenceHint,
      value: data.evidenceForRiskLevel
    }) }}

    <h2 class="govuk-heading-m">Response to previous supervision</h2>

    {{ picRadioButtons({
      idPrefix: "responseToPreviousSupervision",
      name: "responseToPreviousSupervision",
      fieldset: {
        legend: {
          text: "Response"
        }
      },
      errorMessage: {
        text: "Specify the Response to previous supervision"
      } if "responseToPreviousSupervision" in elementsWithError,
      items: [
        {
          value: "Good",
          text: "Good",
          checked: data.responseToPreviousSupervision === "Good"
        },
        {
          value: "Satisfactory",
          text: "Satisfactory",
          checked: data.responseToPreviousSupervision === "Satisfactory"
        },
        {
          value: "Low engagement",
          text: "Low engagement",
          checked: data.responseToPreviousSupervision === "Low engagement"
        },
        {
          value: "Non-compliance",
          text: "Non-compliance",
          checked: data.responseToPreviousSupervision === "Non-compliance"
        },
        {
          value: "N/A",
          text: "N/A",
          checked: data.responseToPreviousSupervision === "N/A"
        }
      ]
    }) }}

    <button class="govuk-button govuk-!-margin-top-6">Continue</button>
  </form>

{% endblock %}
