{% extends "../partials/oralPageLayout.njk" %}

{% set currentPage = 'Sign your report' %}
{% set pageTitle = preSentenceType + " - " + currentPage %}

{% block reportForm %}

  <h1 class="govuk-heading-l">{{ currentPage }}</h1>

  <form method="post" novalidate>
    {% from "govuk/components/input/macro.njk" import govukInput %}

    {{ govukInput({
      label: {
        text: "Report author"
      },
      errorMessage: {
        text: "Enter the report author"
      } if "reportAuthor" in elementsWithError,
      id: "reportAuthor",
      name: "reportAuthor",
      value: data.reportAuthor
    }) }}

    {{ govukInput({
      label: {
        text: "Office"
      },
      errorMessage: {
        text: "Enter the office"
      } if "office" in elementsWithError,
      id: "office",
      name: "office",
      value: data.office
    }) }}

    {{ govukInput({
      label: {
        text: "Court office phone number"
      },
      errorMessage: {
        text: "Enter the court office phone number"
      } if "officePhoneNumber" in elementsWithError,
      id: "officePhoneNumber",
      name: "officePhoneNumber",
      value: data.officePhoneNumber
    }) }}

    <h2 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Start date</h2>
    <p class="govuk-body qa-start-date">{{ data['startDate-day'] }}/{{ data['startDate-month'] }}/{{ data['startDate-year'] }}</p>
    <input type="hidden" name="startDate-day" id="startDate-day" value="{{ data['startDate-day'] }}">
    <input type="hidden" name="startDate-month" id="startDate-month" value="{{ data['startDate-month'] }}">
    <input type="hidden" name="startDate-year" id="startDate-year" value="{{ data['startDate-year'] }}">

    {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

    {{ govukDateInput({
      id: "completionDate",
      namePrefix: "completionDate",
      fieldset: {
        legend: {
          text: "Completion date"
        }
      },
      errorMessage: {
        text: "Enter a valid date, month and year"
      } if 'completionDate-day' in elementsWithError or 'completionDate-month' in elementsWithError or 'completionDate-year' in elementsWithError,
      hint: {
        text: "For example, 31 3 2021"
      },
      items: [
        {
          classes: "govuk-input--width-2" + (" govuk-input--error" if 'completionDate-day' in elementsWithError),
          name: "day",
          value: data["completionDate-day"]
        },
        {
          classes: "govuk-input--width-2" + (" govuk-input--error" if 'completionDate-month' in elementsWithError),
          name: "month",
          value: data["completionDate-month"]
        },
        {
          classes: "govuk-input--width-4" + (" govuk-input--error" if 'completionDate-year' in elementsWithError),
          name: "year",
          value: data["completionDate-year"]
        }
      ]
    }) }}

    <input type="hidden" name="CSRFToken" value="{{ csrfToken }}">

    <h2 class="govuk-heading-m govuk-!-margin-top-8">Now submit your report</h2>

    <p class="govuk-body">You will not be able to change your report after you submit it.</p>

    <button class="govuk-button govuk-!-margin-top-6">Submit and view your report</button>
  </form>

{% endblock %}
