.add-source-btn {
    display: inline-block;
    @include govuk-responsive-margin(2, "top");
    @include govuk-responsive-margin(0, "bottom");

    @include govuk-media-query($from: tablet) {
        @include govuk-responsive-margin(0, "top");
        @include govuk-responsive-margin(2, "left");
    }
}

.added-source-wrapper {
    @include govuk-responsive-margin(7, "bottom");
}

.added-source {
    display: flex;
    justify-content: space-between;
    max-width: 39rem;
    padding: govuk-spacing(3) 0;
    border-bottom: 1px solid #cecece;

    & > a {
        align-content: center;
    }
}