{
  "plugins": ["cypress"],
  "env": {
    "cypress/globals": true
  },
  "extends": ["plugin:cypress/recommended", "plugin:@next/next/recommended"],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  }
}
