{% extends "../partials/psrPageLayout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% set currentPage = 'Offence Analysis' %}
{% set pageTitle = preSentenceType + " - " + currentPage %}

{% block reportForm %}

  <h1 class="govuk-heading-l">{{ currentPage }}</h1>

  <h2 class="govuk-heading-l">Review offences from NDelius</h2>

  {{ govukTable({
    caption: "Review offences from NDelius",
    captionClasses: "govuk-table__caption--m",
    head: [
      { text: "Offence" },
      { text: "Date of offence" }
    ],
    rows: [
      [
        {
          html: "<strong class='govuk-!-font-weight-bold'>Criminal damage</strong><br>" +
          govukTag({
            text: "Main offence",
            classes: "govuk-tag--blue"
          })
        },
        { text: "12/04/2024" }
      ],
      [
        { text: "Wounding or grievous bodily harm with intent to cause grievous bodily harm" },
        { text: "12/04/2024" }
      ],
      [
        { text: "Assault on emergency worker" },
        { text: "12/04/2024" }
      ],
      [
        { text: "Possession of class A drugs" },
        { text: "12/04/2024" }
      ]
    ]
  }) }}

  <h2 class="govuk-heading-l">Analyse offences under consideration</h2>

  <p class="govuk-body">Give a comprehensive analysis of the offences relevant to this report, considering:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>offence details that provide suitable context</li>
    <li>whether the defendant pled guilty or was convicted after trial as a factor in determining their level of responsibility</li>
    <li>victim impact, harm and consequences of an offence and the defendant's understanding of this</li>
    <li>the factors relating to the offence including the defendant's lifestyle considerations</li>
    <li>diversity factors, protected characteristics or other factors where they are relevant to explaining elements of your analysis</li>
  </ul>

  {{ govukTextarea({
    name: "offencesUnderConsideration",
    id: "offences-under-consideration",
    rows: "10",
    label: {
      text: ""
    }
  }) }}

  <h2 class="govuk-heading-l">Analyse the pattern of offending and response to supervision</h2>

  <p class="govuk-body">Analyse previous offending by taking into consideration the type of offences, any patterns in offending and factors linked to this behaviour.
    You should also highlight:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>any previous responses to supervision, considering levels of compliance and associated reasons for this</li>
    <li>interventions that may reduce the chances of offending</li>
    <li>circumstances that may increase the risk of further offending</li>
  </ul>

  {{ govukTextarea({
    name: "offencesPattern",
    id: "offences-pattern",
    rows: "10",
    label: {
      text: ""
    }
  }) }}

  <form method="post" novalidate>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <button class="govuk-button govuk-!-margin-top-6">Save and continue</button>
  </form>

{% endblock %}
