{% extends "../partials/psrPageLayout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set currentPage = 'Review your progress' %}
{% set pageTitle = preSentenceType + " - " + currentPage %}

{% set nameCompleted = data.name | hasContent %}
{% set dateOfBirthCompleted = data.dateOfBirth | hasContent %}
{% set addressCompleted = (
  (data['address-buildingName'] | hasContent) or
  (data['address-number'] | hasContent) or
  (data['address-streetName'] | hasContent) or
  (data['address-town'] | hasContent) or
  (data['address-district'] | hasContent) or
  (data['address-county'] | hasContent) or
  (data['address-postcode'] | hasContent)
) %}

{% set offencesUnderConsiderationCompleted = (
  (data.offencesUnderConsideration | hasContent) or
  (data.offenceUnderConsideration | hasContent)
) %}
{% set offencesPatternCompleted = (
  (data.offencesPattern | hasContent) or
  (data.offencePattern | hasContent) or
  data.noPreviousOffences === 'true'
) %}

{% set defendantBehaviourCompleted = (
  (data.defendantBehaviour | hasContent) or
  (data.behaviourAndLifestyleAssessment | hasContent)
) %}

{% set riskLevelsCompleted = (
  ((data.riskToChildren | hasContent) or (data.riskOfHarmForChildren | hasContent)) and
  ((data.riskToPublic | hasContent) or (data.riskOfHarmForPublic | hasContent)) and
  ((data.riskToKnownAdults | hasContent) or (data.riskOfHarmForKnownAdults | hasContent)) and
  ((data.riskToStaff | hasContent) or (data.riskOfHarmForStaff | hasContent))
) %}
{% set riskPredictorsCompleted = (
  (data.riskPredictors | hasContent) or
  (data.riskPredictorsAndLikelihoodOfReoffending | hasContent)
) %}
{% set riskAndHarmFactorsCompleted = (
  (data.riskAndHarmFactors | hasContent) or
  (data.relevantRisksAndProtectiveFactors | hasContent)
) %}

{% set proposedSentenceCompleted = data.proposedSentence | hasContent %}
{% set proposedSentenceRationaleCompleted = (
  (data.proposedSentenceRationale | hasContent) or
  (data.rationaleForProposedSentence | hasContent)
) %}
{% set alternativeSentencingOptionsCompleted = data.alternativeSentencingOptions | hasContent %}
{% set sentenceImpactCompleted = (
  (data.sentenceImpact | hasContent) or
  (data.impactOfCustodialSentence | hasContent)
) %}

{% set sourcesOfInformationCompleted = data.sourcesOfInformation | hasContent %}

{% macro statusTag(isCompleted) %}
  {{ govukTag({
    text: "Completed" if isCompleted else "Incomplete",
    classes: "govuk-tag--green" if isCompleted else "govuk-tag--blue"
  }) }}
{% endmacro %}

{% macro sectionTable(rows) %}
  {{ govukTable({
    firstCellIsHeader: true,
    classes: "govuk-!-margin-bottom-7",
    rows: rows
  }) }}
{% endmacro %}

{% block reportForm %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ currentPage }}</h1>
  <p class="govuk-body govuk-!-margin-bottom-7">
    You must complete all sections of the PSR before you can preview your report.
  </p>

  <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Defendant details</h2>
  {{ sectionTable([
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/defendant-details">Name</a>'
      },
      {
        html: statusTag(nameCompleted)
      }
    ],
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/defendant-details">Date of birth</a>'
      },
      {
        html: statusTag(dateOfBirthCompleted)
      }
    ],
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/defendant-details">Address</a>'
      },
      {
        html: statusTag(addressCompleted)
      }
    ]
  ]) }}

  <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Offence analysis</h2>
  {{ sectionTable([
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/offence-analysis">Analyse offences under consideration</a>'
      },
      {
        html: statusTag(offencesUnderConsiderationCompleted)
      }
    ],
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/offence-analysis">Analyse the pattern of offending and response to supervision</a>'
      },
      {
        html: statusTag(offencesPatternCompleted)
      }
    ]
  ]) }}

  <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Defendant behaviour and lifestyle assessment</h2>
  {{ sectionTable([
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/defendant-behaviour">Defendant behaviour and lifestyle assessment</a>'
      },
      {
        html: statusTag(defendantBehaviourCompleted)
      }
    ]
  ]) }}

  <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Risk analysis</h2>
  {{ sectionTable([
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/risk-analysis">Risk levels</a>'
      },
      {
        html: statusTag(riskLevelsCompleted)
      }
    ],
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/risk-analysis">Confirm risk predictors and assess the immediacy and likelihood of reoffending</a>'
      },
      {
        html: statusTag(riskPredictorsCompleted)
      }
    ],
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/risk-analysis">Analyse relevant risks of harm and protective factors</a>'
      },
      {
        html: statusTag(riskAndHarmFactorsCompleted)
      }
    ]
  ]) }}

  <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Sentencing proposal</h2>
  {{ sectionTable([
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/sentencing-proposal">The proposed sentence</a>'
      },
      {
        html: statusTag(proposedSentenceCompleted)
      }
    ],
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/sentencing-proposal">Rationale for the proposed sentence</a>'
      },
      {
        html: statusTag(proposedSentenceRationaleCompleted)
      }
    ],
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/sentencing-proposal">Outline alternative sentencing options</a>'
      },
      {
        html: statusTag(alternativeSentencingOptionsCompleted)
      }
    ],
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/sentencing-proposal">Impact of a custodial sentence</a>'
      },
      {
        html: statusTag(sentenceImpactCompleted)
      }
    ]
  ]) }}

  <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Sources of information</h2>
  {{ sectionTable([
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/sources-of-information">Sources of information</a>'
      },
      {
        html: statusTag(sourcesOfInformationCompleted)
      }
    ]
  ]) }}

  <form method="post" data-autosave="true" novalidate>
    <input type="hidden" name="CSRFToken" value="{{ csrfToken }}">
    <input type="hidden" name="reportId" value="{{ reportId }}">
    <button class="govuk-button govuk-!-margin-top-2">Save and continue</button>
  </form>
{% endblock %}
