{% extends "../partials/psrPageLayout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set currentPage = 'Review your progress' %}
{% set pageTitle = preSentenceType + " - " + currentPage %}

{% set progress = data.sectionStatuses %}

{% macro statusTag(isCompleted) %}
  {{ govukTag({
    text: "Completed" if isCompleted else "Incomplete",
    classes: "govuk-tag--green" if isCompleted else "govuk-tag--blue"
  }) }}
{% endmacro %}

{% macro sectionTable(rows) %}
  {{ govukTable({
    firstCellIsHeader: true,
    classes: "govuk-!-margin-bottom-7",
    rows: rows
  }) }}
{% endmacro %}

{% block reportForm %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ currentPage }}</h1>
  <p class="govuk-body govuk-!-margin-bottom-7">
    You must complete all sections of the PSR before you can preview your report.
  </p>

  <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Defendant details</h2>
  {{ sectionTable([
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/defendant-details">Name</a>'
      },
      {
        html: statusTag(progress.defendantDetails.name)
      }
    ],
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/defendant-details">Date of birth</a>'
      },
      {
        html: statusTag(progress.defendantDetails.dateOfBirth)
      }
    ],
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/defendant-details">Address</a>'
      },
      {
        html: statusTag(progress.defendantDetails.address)
      }
    ]
  ]) }}

  <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Offence analysis</h2>
  {{ sectionTable([
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/offence-analysis">Analyse offences under consideration</a>'
      },
      {
        html: statusTag(progress.offenceAnalysis.offencesUnderConsideration)
      }
    ],
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/offence-analysis">Analyse the pattern of offending and response to supervision</a>'
      },
      {
        html: statusTag(progress.offenceAnalysis.offencesPattern)
      }
    ]
  ]) }}

  <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Defendant behaviour and lifestyle assessment</h2>
  {{ sectionTable([
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/defendant-behaviour">Defendant behaviour and lifestyle assessment</a>'
      },
      {
        html: statusTag(progress.defendantBehaviour.assessment)
      }
    ]
  ]) }}

  <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Risk analysis</h2>
  {{ sectionTable([
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/risk-analysis">Risk levels</a>'
      },
      {
        html: statusTag(progress.riskAnalysis.riskLevels)
      }
    ],
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/risk-analysis">Confirm risk predictors and assess the immediacy and likelihood of reoffending</a>'
      },
      {
        html: statusTag(progress.riskAnalysis.riskPredictors)
      }
    ],
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/risk-analysis">Analyse relevant risks of harm and protective factors</a>'
      },
      {
        html: statusTag(progress.riskAnalysis.riskAndHarmFactors)
      }
    ]
  ]) }}

  <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Sentencing proposal</h2>
  {{ sectionTable([
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/sentencing-proposal">The proposed sentence</a>'
      },
      {
        html: statusTag(progress.sentencingProposal.proposedSentence)
      }
    ],
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/sentencing-proposal">Rationale for the proposed sentence</a>'
      },
      {
        html: statusTag(progress.sentencingProposal.proposedSentenceRationale)
      }
    ],
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/sentencing-proposal">Outline alternative sentencing options</a>'
      },
      {
        html: statusTag(progress.sentencingProposal.alternativeSentencingOptions)
      }
    ],
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/sentencing-proposal">Impact of a custodial sentence</a>'
      },
      {
        html: statusTag(progress.sentencingProposal.sentenceImpact)
      }
    ]
  ]) }}

  <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Sources of information</h2>
  {{ sectionTable([
    [
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + reportPath + '/' + reportId + '/sources-of-information">Sources of information</a>'
      },
      {
        html: statusTag(progress.sourcesOfInformation.sources)
      }
    ]
  ]) }}

  <form method="post" data-autosave="true" novalidate>
    <input type="hidden" name="CSRFToken" value="{{ csrfToken }}">
    <input type="hidden" name="reportId" value="{{ reportId }}">
    <button class="govuk-button govuk-!-margin-top-2">Save and continue</button>
  </form>
{% endblock %}
