{% extends "../partials/psrPageLayout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}


{% set currentPage = 'Defendant details' %}
{% set pageTitle = preSentenceType + " - " + currentPage %}

{% set addressHtml %}
  <div class='address-formatting'>
    <p>{{ data['address-buildingName'] }}</p>
    <p>{{ data['address-number'] }}</p>
    <p>{{ data['address-streetName'] }}</p>
    <p>{{ data['address-town'] }}</p>
    <p>{{ data['address-district'] }}</p>
    <p>{{ data['address-county'] }}</p>
    <p>{{ data['address-postcode'] }}</p>
  </div>
{% endset %}


{% block reportForm %}

  <h1 class="govuk-heading-xl">{{ currentPage }}</h1>

  <p class="govuk-body">If any of this information is incorrect you will need to go to NDelius to update it.  Any changes you make to the defendant’s details in NDelius will be updated after you refresh a page in this PSR.</p>

  {{ govukTable({
    firstCellIsHeader: true,
    rows: [
      [
        {
          text: "Full name"
        },
        {
          text: data.name
        }
      ],
      [
        {
          text: "Date of birth"
        },
        {
          text: data.dateOfBirth + " (" + (data.dateOfBirth | calculateAge) + " years old)"
        }
      ],
      [
        {
          text: "Current address"
        },
        {
          html: addressHtml
        }
      ]
    ]
  }) }}
  
  <form method="post" data-autosave="true" novalidate>
    <input type="hidden" name="CSRFToken" value="{{ csrfToken }}">
    <input type="hidden" name="reportId" value="{{ reportId }}">
    <button class="govuk-button govuk-!-margin-top-6">Save and continue</button>
  </form>

{% endblock %}
