{% extends "../partials/sharedPageLayout.njk" %}

{% set currentPage = 'Submission confirmation' %}
{% set pageTitle = "Pre-sentence report completed" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block content %}
  <main class="app-container govuk-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <section class="psr-complete-card">
          <h1 class="govuk-heading-l psr-complete-card__title">
            Pre-sentence report completed
            <span class="psr-complete-card__date">{{ data.createdAt | formatDate }}</span>
          </h1>
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">{{ data.name }}</p>
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-5">CRN: {{ data.crn }}</p>
          <p class="govuk-body govuk-!-margin-bottom-0">
            This PSR is now published on NDelius. It is locked and cannot be edited.
          </p>
        </section>

        <section class="govuk-!-margin-top-7">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-3">If you need to upload your report</h2>
          <ul class="govuk-list govuk-list--bullet psr-complete-links">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/psr/{{ reportId }}/pdf" target="_blank" rel="noreferrer noopener">
                Download the completed PSR
              </a>
              to share with the court.
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="{{ data.commonPlatformUrl }}" target="_blank" rel="noreferrer noopener">
                Get to Common Platform
              </a>
              (opens in new tab)
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="{{ data.digitalCaseSystemUrl }}" target="_blank" rel="noreferrer noopener">
                Get to Digital Case System
              </a>
              (opens in new tab)
            </li>
          </ul>
        </section>

        <p class="govuk-body govuk-!-margin-top-7 govuk-!-margin-bottom-0">
          <a class="govuk-link govuk-link--no-visited-state" href="{{ data.ndeliusUrl }}">
            Return to NDelius
          </a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}
