{% extends "../partials/psrPageLayout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "components/text-editor/macro.njk" import picTextEditor %}

{% set currentPage = 'Risk analysis' %}
{% set pageTitle = preSentenceType + " - " + currentPage %}

{% block reportForm %}
  <form method="post" data-autosave="true" novalidate>

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">{{ currentPage }}</h1>

  {% include "../partials/autosaveStatus.njk" %}

  {{ govukWarningText({
    text: "You must complete a dynamic OASys ROSH (risk of serious harm) assessment first, to confirm reoffending predictors and inform your wider risk analysis",
    iconFallbackText: "Warning"
  }) }}

  {{ picTextEditor({
    label: {
      text: "Assess the likelihood of reoffending",
      classes: "govuk-label--l"
    },
    hint: {
      text: "Set out what the reoffending predictors tell you about the defendant’s likelihood of reoffending and identify any other relevant circumstances that they do not take into account. Do not name specific predictors, explain their purpose or repeat predictor scores"
    },
    name: "riskPredictors",
    id: "risk-predictors",
    rows: "10",
    longText: true,
    value: data.riskPredictors,
    whatToInclude: riskPredictorsHelp,
    whatToIncludeTitle: "Help with identifying appropriate risk assessment tools",
    errorMessage: {
      text: formValidation.errors.riskPredictors
    } if 'riskPredictors' in elementsWithError
  }) }}

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  {{ picTextEditor({
    label: {
      text: "Analyse relevant risks of harm and protective factors",
      classes: "govuk-label--l"
    },
    hint: {
      text: "In your analysis you must explain who is at risk, the nature of the risk, the circumstances in which it could increase or reduce and how soon it could happen. You should also outline the actions required to manage the risk, taking into account the defendant’s personal strengths"
    },
    name: "riskAndHarmFactors",
    id: "risk-riskAndHarmFactors",
    rows: "10",
    longText: true,
    value: data.riskAndHarmFactors,
    errorMessage: {
      text: formValidation.errors.riskAndHarmFactors
    } if 'riskAndHarmFactors' in elementsWithError
  }) }}

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l">Assign risk levels </h2>

    <h3 class="govuk-heading-m">Confirm the risk levels from OASys</h3>

    {{ govukSelect({
      id: "risk-to-children",
      name: "riskToChildren",
      label: {
        text: "Risk to children",
        classes: "govuk-label--m"
      },
      errorMessage: {
        text: formValidation.errors.riskToChildren
      } if 'riskToChildren' in elementsWithError,
      items: riskOptions,
      value: data.riskToChildren
    }) }}

    {{ govukSelect({
      id: "risk-to-public",
      name: "riskToPublic",
      label: {
        text: "Risk to public",
        classes: "govuk-label--m"
      },
      errorMessage: {
        text: formValidation.errors.riskToPublic
      } if 'riskToPublic' in elementsWithError,
      items: riskOptions,
      value: data.riskToPublic
    }) }}

    {{ govukSelect({
      id: "risk-to-known-adults",
      name: "riskToKnownAdults",
      label: {
        text: "Risk to known adults",
        classes: "govuk-label--m"
      },
      errorMessage: {
        text: formValidation.errors.riskToKnownAdults
      } if 'riskToKnownAdults' in elementsWithError,
      items: riskOptions,
      value: data.riskToKnownAdults
    }) }}

    {{ govukSelect({
      id: "risk-to-staff",
      name: "riskToStaff",
      label: {
        text: "Risk to staff",
        classes: "govuk-label--m"
      },
      errorMessage: {
        text: formValidation.errors.riskToStaff
      } if 'riskToStaff' in elementsWithError,
      items: riskOptions,
      value: data.riskToStaff
    }) }}

    {{ govukSelect({
      id: "risk-to-prisoners",
      name: "riskToPrisoners",
      label: {
        text: "Risk to prisoners",
        classes: "govuk-label--m"
      },
      errorMessage: {
        text: formValidation.errors.riskToPrisoners
      } if 'riskToPrisoners' in elementsWithError,
      items: riskOptions,
      value: data.riskToPrisoners
    }) }}

    <input type="hidden" name="CSRFToken" value="{{ csrfToken }}">
    <input type="hidden" name="reportId" value="{{ reportId }}">
    <input type="hidden" name="pageName" value="{{ pageName }}">
    <button class="govuk-button">Save and continue</button>
  </form>

{% endblock %}
