{% extends "../partials/psrPageLayout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "components/text-editor/macro.njk" import picTextEditor %}


{% set currentPage = 'Risk analysis' %}
{% set pageTitle = preSentenceType + " - " + currentPage %}

{% set riskPredictorsHelp %}
  <p class="govuk-body">Each tool predicts something different. Those that predict harm should be prioritised when completing your assessment.</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <strong>Spousal Assault Risk Assessment (SARA)</strong> – this should be completed where there is information that may indicate current or past domestic abuse against a partner.
    </li>
    <li>
      <strong>Risk of Serious Recidivism (RSR)</strong> – this should be completed in all cases. It estimates how likely someone is to be convicted for a new seriously harmful offence.
    </li>
    <li>
      <strong>OASys Sexual Predictor (OSP)</strong> – this should be completed for all adult males who have been convicted of a current or previous sexual offence. This includes sexually motivated offences.
    </li>
    <li>
      <strong>Offender Violence Predictor (OVP)</strong> – this will only be available in cases that have a completed Layer 3 OASys. The OVP score predicts the likelihood of violent type offences.
    </li>
  </ul>

{% endset %}

{% block reportForm %}
  <form method="post" data-autosave="true" novalidate>

  <h1 class="govuk-heading-xl">{{ currentPage }}</h1>

  <p class="govuk-body">Follow this step-by-step process to help you make a decision about whether someone poses low, medium, high or very high Risk of Serious Harm (RoSH).</p>
  <ol class="govuk-list govuk-list--number">
    <li>Assign risk levels</li>
    <li>Confirm risk predictors</li>
    <li>Assess the likelihood of reoffending</li>
    <li>Analyse relevant risk and protective factors</li>
  </ol>

  <h2 class="govuk-heading-l">Step 1 : Assign risk levels </h2>

  {{ govukWarningText({
    text: "You must complete an OASys Layer 1 Assessment to confirm the risk predictors and inform your wider risk analysis.",
    iconFallbackText: "Warning"
  }) }}

  <h2 class="govuk-heading-m">Confirm the risk levels from OASys</h2>

  {{ govukSelect({
    id: "risk-to-children",
    name: "riskToChildren",
    label: {
      text: "Risk to children",
      classes: "govuk-label--m"
    },
    errorMessage: {
      text: "Select the level of risk to children from OASys"
    } if 'riskToChildren' in elementsWithError,
    items: riskOptions,
    value: data.riskToChildren
  }) }}

  {{ govukSelect({
    id: "risk-to-public",
    name: "riskToPublic",
    label: {
      text: "Risk to public",
      classes: "govuk-label--m"
    },
    errorMessage: {
      text: "Select the level of risk to the public from OASys"
    } if 'riskToPublic' in elementsWithError,
    items: riskOptions,
    value: data.riskToPublic
  }) }}

  {{ govukSelect({
    id: "risk-to-known-adults",
    name: "riskToKnownAdults",
    label: {
      text: "Risk to known adults",
      classes: "govuk-label--m"
    },
    errorMessage: {
      text: "Select the level of risk to known adults from OASys"
    } if 'riskToKnownAdults' in elementsWithError,
    items: riskOptions,
    value: data.riskToKnownAdults
  }) }}

  {{ govukSelect({
    id: "risk-to-staff",
    name: "riskToStaff",
    label: {
      text: "Risk to staff",
      classes: "govuk-label--m"
    },
    errorMessage: {
      text: "Select the level of risk to staff from OASys"
    } if 'riskToStaff' in elementsWithError,
    items: riskOptions,
    value: data.riskToStaff
  }) }}

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  {{ picTextEditor({
    label: {
      text: "Steps 2 and 3: Confirm risk predictors and assess the likelihood of reoffending",
      classes: "govuk-label--l"
    },
    hint: {
      text: "Risk predictor tools provide an assessment of proven reoffending over a set time period. Explain the risk predictor outcome 
      and comment on whether it matches your professional interpretation. You do not need to report percentage scores or explain the meaning of the tools."
    },
    name: "riskPredictors",
    id: "risk-predictors",
    rows: "10",
    value: data.riskPredictors,
    whatToInclude: riskPredictorsHelp,
    whatToIncludeTitle: "Help with identifying appropriate risk assessment tools",
    errorMessage: {
      text: "Confirm risk predictors and assess the likelihood of reoffending"
    } if 'riskPredictors' in elementsWithError
  }) }}

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  {{ picTextEditor({
    label: {
      text: "Step 4: Analyse relevant risks of harm and protective factors",
      classes: "govuk-label--l"
    },
    hint: {
      html: "<p>Using the risk factors you've identified, create a risk analysis based on:</p>
        <ul class='govuk-list--bullet'>
          <li>the longer-term influences (positive and negative) on the defendant's behaviour, and the more recent influences based on the professional assessment</li>
          <li>the defendant's circumstances (past and present) and how these may influence offending</li>
          <li>the potential impact on victims</li>
          <li>your reasoning behind which RoSH (Risk of Serious Harm) level is appropriate</li>
          <li>a dangerousness assessment (if requested by the court)</li>
        </ul>
        <p>Note any issues relating to self-harm and suicide including any concerns which may put other individuals at risk.</p>"
    },
    name: "riskAndHarmFactors",
    id: "risk-riskAndHarmFactors",
    rows: "10",
    value: data.riskAndHarmFactors,
    errorMessage: {
      text: "Analyse relevant risks of harm and protective factors"
    } if 'riskAndHarmFactors' in elementsWithError
  }) }}

    <input type="hidden" name="CSRFToken" value="{{ csrfToken }}">
    <input type="hidden" name="reportId" value="{{ reportId }}">
    <button class="govuk-button">Save and continue</button>
  </form>

{% endblock %}
