{% extends "../partials/psrPageLayout.njk" %}

{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "components/text-editor/macro.njk" import picTextEditor %}


{% set currentPage = 'Sentencing proposal' %}
{% set pageTitle = preSentenceType + " - " + currentPage %}

{% set proposedSentenceHelp %}
  <p class="govuk-body">Where a community sentence is proposed you should:</p>
  <ul class='govuk-list govuk-list--bullet'>
    <li>include the duration, number and length of any requirements</li>
    <li>ensure that the requirements are commensurate with the seriousness of the offence</li>
  </ul>
{% endset %}

{% set proposedSentenceRationaleHelp %}
  <p class="govuk-body">You should outline the intended outcomes of the proposed sentence by:</p>
  <ul class='govuk-list govuk-list--bullet'>
    <li>explaining how it addresses identified risks and needs</li>
    <li>considering how it may reduce the defendant's risk of reconviction</li>
    <li>stating how it will manage identified risks of harm</li>
  </ul>
{% endset %}

{% block reportForm %}
<form method="post" data-autosave="true" novalidate>
    <h1 class="govuk-heading-xl">{{ currentPage }}</h1>

    <section class="section-wrapper">
        <p class="govuk-body">The sentencing proposal should be based on the information and analysis contained within the preceding sections of the PSR. It should be consistent with the relevant sentencing guidelines and any indication the court has given regarding the sentence.</p>
    </section>

    <section class="section-wrapper">
        {{ picTextEditor({
            label: {
                text: "Enter the proposed sentence",
                classes: "govuk-label--l"
            },
            hint: {
                html: "Consult the relevant sentencing guidelines and any indication the court has given regarding the sentence. You should use the <strong>Effective Proposal Framework (EPF)</strong> tool to inform your proposal."
            },
            name: "proposedSentence",
            id: "proposedSentence",
            rows: "10",
            longText: true,
            maxLength: 4000,
            value: data.proposedSentence,
            whatToInclude: proposedSentenceHelp,
            whatToIncludeTitle: "Help with proposing a community sentence",
            errorMessage: {
                text: formValidation.errors.proposedSentence
            } if 'proposedSentence' in elementsWithError
        }) }}
    </section>

    <section class="section-wrapper">
        {{ picTextEditor({
            label: {
                text: "Explain your rationale for the proposed sentence",
                classes: "govuk-label--l"
            },
            hint: {
                text: "Your rationale should be consistent with the information and analysis contained within the preceding sections of the PSR."
            },
            name: "proposedSentenceRationale",
            id: "proposedSentenceRationale",
            rows: "10",
            longText: true,
            value: data.proposedSentenceRationale,
            whatToInclude: proposedSentenceRationaleHelp,
            whatToIncludeTitle: "Help with explaining your rationale",
            errorMessage: {
                text: formValidation.errors.proposedSentenceRationale
            } if 'proposedSentenceRationale' in elementsWithError
        }) }}
    </section>

    <section class="section-wrapper">
        {{ picTextEditor({
            label: {
                text: "Outline alternative sentencing options",
                classes: "govuk-label--l"
            },
            hint: {
                text: "Explain what alternative options have been considered, their suitability and why they were not included in your sentencing proposal."
            },
            name: "alternativeSentencingOptions",
            id: "alternativeSentencingOptions",
            rows: "10",
            longText: true,
            value: data.alternativeSentencingOptions,
            errorMessage: {
                text: formValidation.errors.alternativeSentencingOptions
            } if 'alternativeSentencingOptions' in elementsWithError
        }) }}
    </section>

    <section class="section-wrapper">
        <div class="{% if 'custodialSentenceConsideration' in elementsWithError %} govuk-form-group--error{% endif %}">
            {{ govukRadios({
            idPrefix: "custodialSentenceConsideration",
            name: "custodialSentenceConsideration",
            fieldset: {
                legend: {
                text: "Explain the impact of a custodial sentence if relevant",
                classes: "govuk-fieldset__legend--l"
                }
            },
            errorMessage: {
                text: formValidation.errors.custodialSentenceConsideration
            } if 'custodialSentenceConsideration' in elementsWithError,
            items: [
                {
                value: "possible",
                text: "A custodial sentence is possible or expected",
                checked: data.custodialSentenceConsideration == "possible",
                conditional: {
                    html: govukTextarea({
                    id: "custodialSentenceImpact",
                    name: "custodialSentenceImpact",
                    label: {
                        text: "Explain the impact of a custodial sentence if relevant",
                        classes: "govuk-visually-hidden"
                    },
                    rows: 10,
                    value: data.custodialSentenceImpact
                    })
                }
                },
                {
                value: "not-threshold",
                text: "A custodial sentence is not being considered as the offence does not meet the custodial threshold",
                checked: data.custodialSentenceConsideration == "not-threshold"
                },
                {
                value: "court-indicated",
                text: "The court has indicated a custodial sentence is not being considered",
                checked: data.custodialSentenceConsideration == "court-indicated"
                }
            ]
            }) }}
        </div>
    </section>

    <input type="hidden" name="CSRFToken" value="{{ csrfToken }}">
    <input type="hidden" name="reportId" value="{{ reportId }}">
    <input type="hidden" name="pageName" value="{{ pageName }}">
    <button class="govuk-button">Save and continue</button>
</form>

{% endblock %}

{% block additionalScripts %}
  {{ super() }}
  <script src="/assets/js/custodial-sentence-conditional.js" nonce="{{ nonce }}"></script>
{% endblock %}
