{% extends "../partials/psrPageLayout.njk" %}

{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "components/text-editor/macro.njk" import picTextEditor %}


{% set currentPage = 'Sentencing proposal' %}
{% set pageTitle = preSentenceType + " - " + currentPage %}

{% set proposedSentenceHelp %}
  <p class="govuk-body">Where a community sentence is proposed you should:</p>
  <ul>
    <li>include the duration, number and length of any requirements</li>
    <li>ensure that the requirements are commensurate with the seriousness of the offence</li>
  </ul>
{% endset %}

{% set proposedSentenceRationaleHelp %}
  <p class="govuk-body">You should outline the intended outcomes of the sentence by:</p>
  <ul>
    <li>explaining how the proposal addresses identified risks and needs</li>
    <li>considering how the proposal may reduce the person's risk of reconviction</li>
    <li>stating how the proposed sentence will manage identified risks of harm and any risks to identified victims</li>
  </ul>
{% endset %}

{% block reportForm %}
<form method="post" data-autosave="true" novalidate>
    <h1 class="govuk-heading-l">{{ currentPage }}</h1>

    {{ picTextEditor({
        label: {
            text: "Enter the proposed sentence",
            classes: "govuk-label--l"
        },
        hint: {
            html: "Consult the relevant sentencing guidelines and any indication the court has given regarding the sentence. You should use the <strong>Effective Proposal Framework (EPF)</strong> tool to inform your proposal."
        },
        name: "proposedSentence",
        id: "proposedSentence",
        rows: "10",
        value: data.proposedSentence,
        whatToInclude: proposedSentenceHelp,
        whatToIncludeTitle: "Help with proposing a community sentence",
        errorMessage: {
            text: "Enter the proposed sentence"
        } if 'proposedSentence' in elementsWithError
    }) }}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    {{ picTextEditor({
        label: {
            text: "Explain your rationale for the proposed sentence",
            classes: "govuk-label--l"
        },
        hint: {
            text: "Your rationale should be consistent with the information and analysis contained within the preceding sections of the PSR."
        },
        name: "proposedSentenceRationale",
        id: "proposedSentenceRationale",
        rows: "10",
        value: data.proposedSentenceRationale,
        whatToInclude: proposedSentenceRationaleHelp,
        whatToIncludeTitle: "Help with explaining your rationale",
        errorMessage: {
            text: "Explain your rationale for the proposed sentence"
        } if 'proposedSentenceRationale' in elementsWithError
    }) }}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    {{ picTextEditor({
        label: {
            text: "Outline alternative sentencing options",
            classes: "govuk-label--l"
        },
        hint: {
            text: "Explain what alternative options have been considered, their suitability and why they were not included in your sentencing proposal."
        },
        name: "alternativeSentencingOptions",
        id: "alternativeSentencingOptions",
        rows: "10",
        value: data.alternativeSentencingOptions,
        errorMessage: {
            text: "Outline alternative sentencing options"
        } if 'alternativeSentencingOptions' in elementsWithError
    }) }}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-form-group{% if 'custodialSentenceConsideration' in elementsWithError %} govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                Explain the impact of a custodial sentence
            </legend>
            {% if 'custodialSentenceConsideration' in elementsWithError %}
                <p class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> Select the button that best describes the possibility of a custodial sentence if relevant
                </p>
            {% endif %}
            <div class="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="custodial-sentence-possible" name="custodialSentenceConsideration" type="radio" value="possible"{% if data.custodialSentenceConsideration == "possible" %} checked{% endif %}>
                    <label class="govuk-label govuk-radios__label" for="custodial-sentence-possible">
                        A custodial sentence is possible or expected
                    </label>
                </div>
                <div id="custodial-conditional-content" class="govuk-!-margin-left-4{% if data.custodialSentenceConsideration != 'possible' %} govuk-!-display-none{% endif %}">
                    {{ picTextEditor({
                        label: {
                            text: "",
                            classes: "govuk-visually-hidden"
                        },
                        hint: {
                            text: "Alongside any relevant factors you may want to consider the impact on the defendant's family (including dependants) and managing risk. Consider any personal vulnerabilities or risks the defendant may present to themselves."
                        },
                        name: "custodialSentenceImpact",
                        id: "custodialSentenceImpact",
                        rows: "10",
                        value: data.custodialSentenceImpact,
                        errorMessage: {
                            text: "Explain the impact of a custodial sentence if relevant"
                        } if 'custodialSentenceImpact' in elementsWithError
                    }) }}
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="custodial-sentence-not-threshold" name="custodialSentenceConsideration" type="radio" value="not-threshold"{% if data.custodialSentenceConsideration == "not-threshold" %} checked{% endif %}>
                    <label class="govuk-label govuk-radios__label" for="custodial-sentence-not-threshold">
                        A custodial sentence is not being considered as the offence does not meet the custodial threshold
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="custodial-sentence-court-indicated" name="custodialSentenceConsideration" type="radio" value="court-indicated"{% if data.custodialSentenceConsideration == "court-indicated" %} checked{% endif %}>
                    <label class="govuk-label govuk-radios__label" for="custodial-sentence-court-indicated">
                        The court has indicated a custodial sentence is not being considered
                    </label>
                </div>
            </div>
        </fieldset>
    </div>

    <input type="hidden" name="CSRFToken" value="{{ csrfToken }}">
    <input type="hidden" name="reportId" value="{{ reportId }}">
    <button class="govuk-button govuk-!-margin-top-6">Save and continue</button>

</form>

{% endblock %}

{% block additionalScripts %}
  {{ super() }}
  <script src="/assets/js/custodial-sentence-conditional.js" nonce="{{ nonce }}"></script>
{% endblock %}
