{% extends "../partials/psrPageLayout.njk" %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% set currentPage = "Sign and lock your report" %}
{% set pageTitle = preSentenceType + " - " + currentPage %}
{% block reportForm %}
    <form method="post"
          data-autosave="true"
          data-confirm-submit="true"
          novalidate>
        <h1 class="govuk-heading-xl">{{ currentPage }}</h1>
        {% if data.reviewProgressBlocked %}
            <p class="govuk-error-message" id="reviewProgress">
                <span class="govuk-visually-hidden">Error:</span>
                Complete all sections in <a class="govuk-link" href="/{{ reportPath }}/{{ reportId }}/preview-report">Review your progress</a> before signing and locking this report.
            </p>
        {% endif %}
        {{ govukWarningText({
            "text": "Submitting your report will lock the PSR and you will no longer be able to make any further edits.",
            "iconFallbackText": "Warning"
        }) }}
        {{ govukInput({
                hint: {
                text: "Enter your full name",
                classes: "govuk-hint govuk-!-margin-bottom-2"
                },
                name: "signReportName",
                type: "text",
                id: "signReportName",
                rows: "1",
                value: data.signReportName,
                errorMessage: {
                text: formValidation.errors.signReportName
                } if 'signReportName' in elementsWithError
                }) }}
        {% set spoNameHtml %}
            {{ govukInput({
                        id: "spoName",
                        name: "spoName",
                        type: "text",
                        value: data.spoName,
                        autocomplete: "name",
                        classes: "govuk-!-width-one-third",
                        label: {
                        text: "Please enter the name of the SPO who has reviewed the report"
                        },
                        errorMessage: {
                        text: formValidation.errors.spoName
                        } if 'spoName' in elementsWithError
                        }) }}
        {% endset -%}
        {{ govukRadios({
                idPrefix: "isDangerousReport",
                name: "isDangerousReport",
                fieldset: {
                legend: {
                text: "Is this a dangerousness report?",
                classes: "govuk-fieldset__legend--m"
                }
                },
                errorMessage: {
                text: formValidation.errors.isDangerousReport
                } if 'isDangerousReport' in elementsWithError,
                items: [
                {
                value: "yes",
                text: "Yes",
                checked: data.isDangerousReport == "yes",
                conditional: {
                html: spoNameHtml
                }
                },
                {
                value: "no",
                text: "No",
                checked: data.isDangerousReport == "no"
                }
                ]
                }) }}
        <input type="hidden" name="CSRFToken" value="{{ csrfToken }}">
        <input type="hidden" name="reportId" value="{{ reportId }}">
        <input type="hidden" name="pageName" value="{{ pageName }}">
        <button class="govuk-button govuk-!-margin-top-6">Submit</button>
    </form>

    <div class="govuk-modal" id="confirm-modal" hidden>
        <div class="govuk-modal__overlay"></div>
        <div class="govuk-modal__content govuk-width-container"
             role="dialog"
             aria-modal="true"
             aria-labelledby="confirm-title"
             aria-describedby="confirm-message">
            <h2 id="confirm-title" class="govuk-heading-m">Are you ready to sign and lock your report?</h2>
            <p id="confirm-message" class="govuk-body">You will not be able to edit your report after submitting.</p>
            <div class="govuk-button-group">
                <button
                    id="confirm-submit"
                    type="button"
                    class="govuk-button govuk-!-margin-bottom-0 govuk-!-margin-right-6"
                >
                    Sign and lock
                </button>

                <button type="button" id="cancel-submit" class="govuk-link">
                    Cancel
                </button>
            </div>
        </div>
    </div>
{% endblock %}
