{% extends "../partials/psrPageLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set currentPage = 'Sources of information' %}
{% set pageTitle = preSentenceType + " - " + currentPage %}

{% block reportForm %}
  <form method="post" data-autosave="true" novalidate>
    <div class="govuk-form-group {% if 'sourcesOfInformation' in elementsWithError %}govuk-form-group--error{% endif %}">
      <fieldset class="govuk-fieldset"
        aria-describedby="sourcesOfInformation-hint {% if 'sourcesOfInformation' in elementsWithError %}sourcesOfInformation-error{% endif %}">
        
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            {{ currentPage }}
          </h1>
        </legend>


        <p class="govuk-body">
          Add or remove sources of information from your list
        </p>
        <div id="sourcesOfInformation-hint" class="govuk-hint">
          Select all sources used to inform this report.
        </div>


        {% if 'sourcesOfInformation' in elementsWithError %}
          <p id="sourcesOfInformation-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            You must select all sources used to inform this report
          </p>
        {% endif %}

        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          {% for source in sourcesOfInformation %}
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input"
                     id="{{ source.key }}"
                     name="sourcesOfInformation"
                     type="checkbox"
                     value="{{ source.key }}"
                     {% if source.checked %}checked{% endif %}>
              <label class="govuk-label govuk-checkboxes__label" for="{{ source.key }}">
                {{ source.value }}
              </label>
              {% if source.isCustom %}
                <a href="/psr/{{ reportId }}/sources-of-information?remove={{ source.key }}"
                   class="govuk-link govuk-link--no-visited-state checkbox-action">
                  Remove <span class="govuk-visually-hidden">{{ source.value }}</span>
                </a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </fieldset>
    </div>

    {% if addedSourcesOfInformation | length %}
      <div id="added-sources" class="added-source-wrapper">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Added sources</h2>

        <div class="added-sources">
          {% for source in addedSourcesOfInformation %}
            <div class="added-source">
              <span>{{ source.value }}</span>

              <a href="/psr/{{ reportId }}/sources-of-information?remove={{ source.key }}"
                class="govuk-link govuk-link--no-visited-state govuk-!-margin-left-5">
                Remove <span class="govuk-visually-hidden">{{ source.value }}</span>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <div class="govuk-form-group govuk-!-margin-bottom-8{% if 'source' in elementsWithError %} govuk-form-group--error{% endif %}">
      <div class="govuk-label-wrapper">
        <label class="govuk-heading-m govuk-!-margin-bottom-3" for="source">
          Add another source of information
        </label>
      </div>

      {% if 'source' in elementsWithError %}
        <p id="source-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
          {{ formValidation.errors.source }}
        </p>
      {% endif %}

      <input
        class="govuk-input govuk-!-width-two-thirds govuk-!-display-inline-block"
        id="source"
        name="source"
        type="text"
        value="{{ data.source or '' }}"
        data-max-length="80"
        data-character-count-errors-only
        aria-describedby="{% if 'source' in elementsWithError %}source-error {% endif %}source-info"
      >

      <div
        class="pic-character-count"
        data-character-count-for="source"
        id="source-info"
        aria-live="polite"
        hidden
      ></div>

      <button
        type="submit"
        name="action"
        value="add-source"
        class="govuk-button govuk-button--secondary add-source-btn"
        data-module="govuk-button"
      >
        Add to list
      </button>
    </div>

    <input type="hidden" name="CSRFToken" value="{{ csrfToken }}">
    <input type="hidden" name="reportId" value="{{ reportId }}">
    <input type="hidden" name="pageName" value="{{ pageName }}">

    {{ govukButton({
      text: "Save and continue",
      attributes: { name: "action", value: "save-list" }
    }) }}
  </form>
{% endblock %}
