{% extends "../partials/psrPageLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% set currentPage = 'Submission confirmation' %}
{% set pageTitle = preSentenceType + " - " + currentPage %}
{% set currentPage = 'Submission confirmation' %}
{% set pageTitle = preSentenceType + " - " + currentPage %}


{% block pageTitle %}
    Submission Successful
{% endblock %}

{% block content %}
    <main class="app-container govuk-body">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Submission successful
                </h1>
                <div class="govuk-panel__body">
                    Your submission has been received
                </div>
            </div>

            <h2 class="govuk-heading-m">What happens next</h2>
            <p class="govuk-body">
                We have sent a confirmation email to the address you provided. 
                Your submission reference is <strong>PRE-123456</strong>.
            </p>

            <div class="govuk-button-group">
                {% call govukButton({
                    text: "Return to home",
                    href: "/"
                }) %}{% endcall %}
            </div>
        </div>
    </div>
    </main>

        <input type="hidden" name="CSRFToken" value="{{ csrfToken }}">
    <input type="hidden" name="reportId" value="{{ reportId }}">

{% endblock %}
