{% extends "../partials/pdfLayout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}
    <h1 class="govuk-heading-l">Pre-sentence report</h1>

    <p class="govuk-body-s pdf-secondary-text">This is a pre-sentence report as defined in Section 31 of the Sentencing Act 2020.</p>
    <p class="govuk-body-s pdf-secondary-text">This report is not binding upon the court's sentencing decision.</p>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">Defendant details</h2>

    <div class="govuk-body-s"><strong>Full name: </strong>{{ data.name }}</div>
    <div class="govuk-body-s"><strong>Date of birth: </strong>{{ data.dateOfBirth.toLocaleDateString("en-GB")}} ({{data.ageInYears}} years old)</div>
    <div class="govuk-body-s address-row govuk-!-margin-bottom-0"><strong>Current address: </strong>
        <div class='address-lines'>
            <p class="govuk-body-s">{{ data.address.buildingName }}</p>
            <p class="govuk-body-s">{{ data.address.addressNumber }}</p>
            <p class="govuk-body-s">{{ data.address.streetName }}</p>
            <p class="govuk-body-s">{{ data.address.town }}</p>
            <p class="govuk-body-s">{{ data.address.district }}</p>
            <p class="govuk-body-s">{{ data.address.county }}</p>
            <p class="govuk-body-s">{{ data.address.postcode }}</p>
        </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">Offence analysis</h2>


    <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table govuk-table--no-borders govuk-table--small-headers">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th class="govuk-table__header">Offences under consideration</th>
            <th class="govuk-table__header">Date of offence</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-body-s"><strong>{{ data.offenceData.mainOffence.mainCategory.description }}</strong></td>
            <td class="govuk-table__cell govuk-body-s">{{ data.offenceData.mainOffence.date | formatDate }}</td>
            </tr>

            {% for offence in data.offenceData.additionalOffences %}
                <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s"><strong>{{ offence.mainCategory.description }}</strong></td>
                <td class="govuk-table__cell govuk-body-s">{{ offence.date | formatDate }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>

    <h3 class="govuk-heading-s">Analysis of offences under consideration</h3>

    <p class="govuk-body-s keep-newlines">{{ data.offencesUnderConsideration }}</p>

    <h3 class="govuk-heading-s">Pattern of offending response to supervision</h3>

    {% if data.noPreviousOffences === 'true' %}
        <p class="govuk-body-s">The defendant has no previous offences or experience of supervision</p>
    {% else %}
        <p class="govuk-body-s keep-newlines">{{ data.offencesPattern }}</p>
    {% endif %}

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">Defendant behaviour and lifestyle assessment</h2>

    <p class="govuk-body-s keep-newlines">{{ data.defendantBehaviour }}</p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">Risk analysis</h2>

    <h3 class="govuk-heading-s">Risk of serious harm</h3>

    <div class="risk-row">
            <div>
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Children:</h3>
                <p class="govuk-body-s keep-newlines">{{ data.riskToChildren }}</p>
            </div>
            <div>
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Public:</h3>
                <p class="govuk-body-s keep-newlines">{{ data.riskToPublic }}</p>
            </div>
            <div>
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Known adults:</h3>
                <p class="govuk-body-s keep-newlines">{{ data.riskToKnownAdults }}</p>
            </div>
            <div>
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Staff:</h3>
                <p class="govuk-body-s keep-newlines">{{ data.riskToStaff }}</p>
            </div>
    </div>

    <h3 class="govuk-heading-s">Risk predictors and likelihood of reoffending</h3>

    <p class="govuk-body-s keep-newlines">{{ data.riskPredictors }}</p>

    <h3 class="govuk-heading-s">Relevant risks of harm and protective factors</h3>

    <p class="govuk-body-s keep-newlines">{{ data.riskAndHarmFactors }}</p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">Sentencing proposal</h2>

    <div class="border-box">
        <h3 class="govuk-heading-s">The proposed sentence</h3>
        <p class="govuk-body-s keep-newlines">{{ data.proposedSentence }}</p>
    </div>

    <h3 class="govuk-heading-s">Rationale for the proposed sentence</h3>

    <p class="govuk-body-s keep-newlines">{{ data.proposedSentenceRationale }}</p>

    <h3 class="govuk-heading-s">Alternative sentencing options</h3>

    <p class="govuk-body-s keep-newlines">{{ data.alternativeSentencingOptions }}</p>

    <h3 class="govuk-heading-s">Impact of a custodial sentence</h3>

    <p class="govuk-body-s keep-newlines">{{ data.impactExplanation }}</p>

    {% if data.custodialSentenceConsideration === 'possible' %}
        <p class="govuk-body-s"> {{ data.custodialSentenceImpact }}</p>
    {% endif %}

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">Completion details</h2>

    <h3 class="govuk-heading-s">Report author:</h3>
    <p class="govuk-body-s"> {{ data.signReportName }}</p>

    <h3 class="govuk-heading-s">Dangerousness report counter signature (if required):</h3>
    {% if data.spoName %}
        <p class="govuk-body-s"> {{ data.spoName }}</p>
    {% endif %}

    <h3 class="govuk-heading-s">Date submitted:</h3>
    <p class="govuk-body-s"> DD/MM/YY </p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">End of report</h2>

{% endblock %}

{% block footer %}{% endblock %}