{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Error" %}

{% block beforeContent %}{% endblock %}

{% block content %}

  <main class="app-container">
    <h1 class="govuk-heading-l">{{ message }}</h1>
    <h2 class="govuk-heading-m">{{ status }}</h2>
    <pre class="govuk-body">{{ stack }}</pre>
  </main>

{% endblock %}
