{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}

{% block content %}

  <main class="app-container govuk-body">
    <h1 class="govuk-heading-l">{{ applicationName }}</h1>
    <p class="govuk-body"><a href="/create/record-of-oral" class="govuk-link govuk-link--no-visited-state">Record of Oral Pre-Sentence Report</a></p>
    <p class="govuk-body"><a href="/create/short-format" class="govuk-link govuk-link--no-visited-state">Short Format Pre-Sentence Report</a></p>
  </main>

{% endblock %}
