{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <main class="app-container govuk-body">
    <h1 class="govuk-heading-l">{{ applicationName }}</h1>
    <p class="govuk-body"><a href="/psr/c6c4d313-c8c6-40dd-b415-8413cdf2eb6c" class="govuk-link govuk-link--no-visited-state">NEW Pre-Sentence report</a></p>
  </main>

{% endblock %}
