{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="app-container govuk-body">
    <h1 class="govuk-heading-l">{{ applicationName }}</h1>
    <p class="govuk-body">To view or work on a pre-sentence report, open the case in NDelius and follow the pre-sentence report link.</p>
  </div>

{% endblock %}
